<ul class="breadcrumb">
    <li><a href="/manage/cemetery/">Кладбища</a></li>
    <li><span class="divider">|</span></li>
    <li><a href="/manage/cemetery/{{cemetery.id}}/">{{cemetery.name}}</a></li>
    <li><span class="divider">|</span></li>
    <li>Участок "{{area.name}}"</li>
    <li><span class="divider">|</span></li>
    <li><a href="#" ng-click="openEditForm()">Редактировать</a></li>
    <li><span class="divider">|</span></li>
    <li><a href="#" ng-click="openAddModal()">Добавить место</a></li>
    <li><span class="divider">|</span></li>
    <!-- li><a href="#" ng-click="openUploadImageModal()">Загрузить фотографии</a></li -->
</ul>