<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<div ng-include src="'/static/js/app/tpl/manage/cemetery_list_header.html'+version_str"></div>    

<div class="row-fluid">
	<div class="span12" style="width:auto !important">
		Найти <input ng-model="search.name"><br/>	
		<div class="gridStyle full-size-grid" ng-grid="gridOptions"></div>
	</div>
</div>
<hr/>

<div ng-include src="'/static/js/app/tpl/manage/cemetery_list_header.html'+version_str"></div>



<style type="text/css">
</style>

<div modal="addModalOpened" close="closeAddModal()" options="addOpts">
    <form name="cemeteryEditForm">
        <div class="modal-header">
            <h3>Добавить новое кладбище</h3>
        </div>
        
        <div class="modal-body">
    		<div ng-include src="'/static/js/app/tpl/manage/form_edit_cemetery_main.html'+version_str"></div>
        </div>
        <div class="modal-footer">
            <button ng-click="addElement(item)" class="btn btn-primary" ng-disabled="cemeteryEditForm.$invalid">Добавить</button>
            <button ng-click="closeAddModal()" class="btn" >Отменить</button>
        </div>
    </form>
</div>