<ul class="breadcrumb">
    <li><a href="/manage/cemetery/">Кладбища</a></li>
    <li><span class="divider">|</span></li>
    <li>{{cemetery.name}}</li>
    <li><span class="divider">|</span></li>
    <li><a href="#" ng-click="openEditForm()">Редактировать</a></li>
    <li><span class="divider">|</span></li>
    <li><a href="#" ng-click="openAddModal()">Добавить участок</a></li>
</ul>