<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<div ng-include src="'/static/js/app/tpl/manage/cemetery_view_header.html'+version_str"></div>
        
<div class="row-fluid">
	<div class="span7">
		<dl class="dl-horizontal">
		  <dt>Время работы</dt>
		  <dd>{{cemetery.work_time}}</dd>
		  <dt>Расстановка номеров мест</dt>
		  <dd>{{cemetery.places_algo| list: PLACE_TYPES}}</dd>
		  <dt>Время для захоронения</dt>
		  <dd>{{cemetery.time_slots}}</dd>
		</dl>
		<p ng-show="cemetery.archive_burial_fact_date_required">Дата архивного захоронения обязательна</p>
		<p ng-show="cemetery.archive_burial_account_number_required">Номер архивного захоронения обязателен</p>
		<!-- address address_class="address_class" address="cemetery.address" save_action="saveEditForm"></address -->
		
        <div class="row-fluid">
            <div class="span6">
                <div class="full_address">
                    <dl class="dl-horizontal">
                      <dt>Страна</dt>
                      <dd>{{address.country.name || '-'}}</dd>
                    
                      <dt>Регион</dt>
                      <dd>{{address.region.name || '-'}}</dd>
                    
                      <dt>Город</dt>
                      <dd>{{address.city.name || '-'}}</dd>
                    
                      <dt>Улица</dt>
                      <dd>{{address.street.name || '-'}}</dd>
                    
                      <dt>Почтовый индекс</dt>
                      <dd>{{address.post_index || '-'}}</dd>
                    </dl>
                </div>
            </div>
            <div class="span6">
                <dl class="dl-horizontal">
                  <dt>Дом</dt>
                  <dd>{{address.house || '-'}}</dd>
                
                  <dt>Корпус</dt>
                  <dd>{{address.block || '-'}}</dd>
                
                  <dt>Строение</dt>
                  <dd>{{address.building || '-'}}</dd>
                
                  <dt>Квартира</dt>
                  <dd>{{address.flat || '-'}}</dd>

                </dl>
            </div>
        </div>
                    

	</div>
    <yandex-map id="yandex-map" class="span5"></yandex-map>

    <!--ymap-marker coordinates="marker" icon="$index+1" balloon="'qqq'" ng-repeat="marker in markers"></ymap-marker-->
</div>

<h3>Участки</h3>
<div class="row-fluid">
	<div class="span12" style="width:auto !important">
        Найти <input ng-model="search.name"><br/> 
		<div class="gridStyle " ng-grid="gridOptions"></div>
	</div>
</div>

<hr />

<div ng-include src="'/static/js/app/tpl/manage/cemetery_view_header.html'+version_str"></div>
      


<!-- POPUP form -->
<div modal="isEditorOpen" close="closeEditForm()">
        <div class="modal-header">
            <h3>Редактировать кладбище "{{cemetery.name}}"</h3>
        </div>
    	<div ng-include src="'/static/js/app/tpl/manage/form_edit_cemetery.html'+version_str"></div>
</div>
<!-- EOF POPUP form -->




<div modal="addModalOpened" close="closeAddModal()" options="addOpts">
    <div class="modal-header">
        <h3>Добавить участок</h3>
    </div>
    <form name="areaEditForm">
    <div class="modal-body">
    	<div ng-include src="'/static/js/app/tpl/manage/form_add_area.html'+version_str"></div>
    </div>
    <div class="modal-footer">
        <button ng-click="addElement(addItem)" class="btn btn-primary" ng-disabled="areaEditForm.$invalid">Добавить</button>
        <button ng-click="closeAddModal()" class="btn" >Отменить</button>
    </div>
    </form>
</div>

