    <dt>
        <label for="id_place_set-row">Ряд:</label>
    </dt>
    <dd>
        <input name="placeRow" id="id_place_set-row" type="text" ng-model="place.row" maxlength="255" />
        <span class="error" ng-show="placeEditForm.placeRow.$error.required">Не указан ряд</span>
    </dd>

    <dt>
        <label for="id_place_set-name">Место:</label>
    </dt>
    <dd>
        <input name="placeName" id="id_place_set-name" type="text" required ng-model="place.place" maxlength="255" />
        <span class="error" ng-show="placeEditForm.placeName.$error.required">Не указано название места</span>
    </dd>
    <dt>
        <label for="id_places_count">Количество могил:</label>
    </dt>
    <dd>
        <input name="places_count" id="id_places_count" type="number" 
        min="1" max="{{area.max_graves_count}}"
        required ng-model="place.places_count" />
        <span class="error" ng-show="placeEditForm.places_count.$error.required">Не указано количество могил</span>
        <span class="error" ng-show="placeEditForm.places_count.$error.min">Число должно быть больше 0</span> 
        <span class="error" ng-show="placeEditForm.places_count.$error.max">Число должно быть меньше, либо равным {{area.max_graves_count}}</span> 
    </dd>
    <dt>
        <label for="id_place_set-len">Длина:</label>
    </dt>
    <dd>
        <input name="placeLen" id="id_place_set-len" type="number" 
        step="0.01"  min="0.1" max="10"
        ng-model="place.place_length" maxlength="255" />
        <span class="error "ng-show="placeEditForm.placeLen.$error.min">Число должно быть больше 0</span> 
        <span class="error" ng-show="placeEditForm.placeLen.$error.max">Число должно быть меньше, либо равным 10</span> 
    </dd>
    
    <dt>
        <label for="id_place_set-w">Ширина:</label>
    </dt>
    <dd>
        <input name="placeW" id="id_place_set-w" type="number" 
        step="0.01"  min="0.1" max="10"
        ng-model="place.place_width" maxlength="255" />
        <span class="error" ng-show="placeEditForm.placeW.$error.min">Число должно быть больше 0</span> 
        <span class="error" ng-show="placeEditForm.placeW.$error.max">Число должно быть меньше, либо равным 10</span> 
    </dd>
</dl>
