<form name="placeEditForm" >
    <div class="modal-header">
        <h3>Редактировать место "{{item.place}}"</h3>
    </div>
    <div class="modal-body" style="overflow-y:hidden;">

        <dl class="dl-horizontal">
            <dt>
                <label for="id_place_set-cemetery">Кладбище:</label>
            </dt>
            <dd>{{cemetery.name}}
                <!-- input name="placeCemetery" id="id_place_set-cemetery" type="text" ng-model="cemetery.name"
                       required maxlength="255" typeahead-min-length="0"
                       typeahead="c.name for c in cemetery_list | filter:$viewValue | limitTo:8"
                       typeahead-editable="false" typeahead-on-select="onCemeteryChanged($item, $model)" />
                <span class="error" ng-show="placeEditForm.placeCemetery.$error.required">Не указано кладбище</span -->
            </dd>

            <dt>
                <label for="id_place_set-area">Участок:</label>
            </dt>
            <dd>{{area.name}}
                <!-- input name="placeArea" id="id_place_set-area" type="text" ng-model="area.name" required maxlength="255"
                       typeahead="a.name for a in area_list | filter:$viewValue | limitTo:8"
                       typeahead-min-length="0" typeahead-editable="false" typeahead-on-select="onAreaChanged($item, $model)"/>
                <span class="error" ng-show="placeEditForm.placeArea.$error.required">Не указан участок</span-->
            </dd>

            <dt>
                <label for="id_place_set-row">Ряд:</label>
            </dt>
            <dd>
                <input name="placeRow" id="id_place_set-row" type="text" ng-model="item.row" maxlength="255" />
            </dd>

            <dt>
                <label for="id_place_set-name">Место:</label>
            </dt>
            <dd>
                <input name="placeName" id="id_place_set-name" type="text" required ng-model="item.place" maxlength="255" />
                <span class="error" ng-show="placeEditForm.placeName.$error.required">Не указано название места</span>
                <span class="error" ng-show="placeEditForm.places_count.$error.min">Число должно быть больше 0</span> 
                <span class="error" ng-show="placeEditForm.places_count.$error.max">Число должно быть меньше, либо равным 7</span> 
            </dd>
            
            <dt>
                <label for="id_place_set-name">Длина:</label>
            </dt>
            <dd>
                <input name="placeLen" id="id_place_set-name" type="number" 
                step="0.01"  min="0.1" max="10" 
                ng-model="item.place_length" maxlength="14" />
                <span class="error" ng-show="placeEditForm.placeLen.$error.required">Не указано</span>
                <span class="error "ng-show="placeEditForm.placeLen.$error.min">Число должно быть больше 0</span> 
                <span class="error" ng-show="placeEditForm.placeLen.$error.max">Число должно быть меньше, либо равным 10</span> 
            </dd>
            
            <dt>
                <label for="id_place_set-name">Ширина:</label>
            </dt>
            <dd>
                <input name="placeW" id="id_place_set-name" 
                step="0.01"  min="0.1" max="10"
                type="number" ng-model="item.place_width" maxlength="14"/>
                <span class="error" ng-show="placeEditForm.placeW.$error.required">Не указано</span> 
                <span class="error" ng-show="placeEditForm.placeW.$error.min">Число должно быть больше 0</span> 
                <span class="error" ng-show="placeEditForm.placeW.$error.max">Число должно быть меньше, либо равным 10</span> 
            </dd>
        </dl>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!placeEditForm.$valid" ng-click="savePlaceEditForm(placeEditForm)">
            Сохранить
        </button>
        <button class="btn cancel" ng-click="closeEditForm('isPlaceEditorOpen')">Отменить</button>
    </div>
</form>