<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<div ng-include src="'/static/js/app/tpl/manage/place_view_header.html'+version_str"></div>

<div class="place-view">
    <div class="row-fluid">
        <div class="span7">
            <dl class="dl-horizontal">
                <dt>Кладбище:</dt>
                <dd>{{ item.name }}</dd>
                <dt>Участок:</dt>
                <dd>{{ area.name }}</dd>
                <dt>Ряд:</dt>
                <dd>{{ item.row }}</dd>
                <dt>Место:</dt>
                <dd>{{ item.place }}</dd>
                <dt>Ответственный:</dt>
                <dd>
                    {{ responsible.last_name + ' ' + responsible.first_name + ' ' + responsible.middle_name }}
                    <button class="btn btn-success btn-mini"
                            ng-click="openEditForm('isResponsibleEditorOpen')">
                        <span class="icon-edit"></span>
                    </button>
                    <button class="btn btn-danger btn-mini"
                            ng-show="responsible.last_name || responsible.first_name || responsible.middle_name"
                            ng-click="removeResponsible()">
                        <span class="icon-remove"></span>
                    </button>
                </dd>
                <dt>Могил всего</dt>
                <dd>{{item.graves_count}}</dd>
                <dt>Свободно</dt>
                <dd>{{item.available_count}}</dd>
                
                <dt>Координаты</dt>
                <dd>широта: {{item.lat || '-'}}, долгота: {{item.lng || '-'}}</dd>
                <dt>Размеры</dt>
                <dd>длина {{item.place_length || '-'}}м, ширина {{item.place_width || '-'}}м</dd>
                <!-- dt></dt>
                <dd><a href="#" class="btn btn-success" ng-click="openEditForm('isPlaceEditorOpen')">Редактировать</a></dd -->
            </dl>
        </div>
	    <yandex-map id="yandex-map" class="span5" coordinates="placeCoordinates" points="placePoints">
	    </yandex-map>
    </div>


    <div class="graves row-fluid clearfix">
        <h2>Могилы</h2>
        <!-- div class="row-fluid"><button class="btn btn-success" ng-click="openEditForm('isGraveAddOpen')">Добавить могилу</button></div -->
        <div class="row" style="overflow-x:auto; width: auto; padding-left:30px;">
	        
	        <table width="auto">
			<tr>
	        <td class="" ng-repeat="grave in graves" valign="top">
	            <div class="grave well well-large">
	            	<div class="btn-toolbar">
	                    <div class="btn-group" style="margin: 0 -7px;">
		                    <button class="btn btn-success btn-mini"ng-click="openEditForm('isGraveEditOpen', grave)">
		                       №{{ grave.grave_number }} Редактировать
		                    </button>
	                    </div>
	            	</div>
		            <div class="row-fluid meta">
		                <!-- div class="photo-container span12">
		                    <img ng-show="grave.photos" ng-click="openEditForm('isGraveGalleryOpen', grave.photos)"
		                         class="first-photo" ng-src="{{ grave.firstPhoto | thumbnail:233:134:'scale' }} " />
		                    <img ng-show="!grave.photos" src="/static/img/no-photo.png" />
		                </div -->
		                <!-- span ng-show="DEBUG">ID: {{ grave.id }}</span -->
		            </div>
		            
		            <p style="text-align: left">Захоронения</p>
                    
                    <p ng-show="item.is_wrong_fio||item.is_military">
                        <span class="label" ng-show="grave.is_wrong_fio">Неверное ФИО</span>
                        <span class="label" ng-show="grave.is_military">Воинская могила</span>
                    </p>

	                <ul class="unstyled burials">
	                    <li ng-repeat="burial in burials | filter :{grave : grave.id}"
	                    	class="well burial {{burial.status}}">
	                    	<div ng-click="openEditForm('isBurialEditorOpen', burial)">
	                        <h4 style="text-align: left">{{burial.deadman.last_name}}</h4>
	                        <h4 style="text-align: left">{{burial.deadman.first_name}}</h4>
	                        <h4 style="text-align: left">{{burial.deadman.middle_name}}</h4>
	                        <div>{{burial.fact_date || burial.plan_date}}</div>
	                        </div>
                            <div class="btn-group pull-right">
                                <a class="btn btn-mini" popover="Просмотр" popover-trigger="mouseenter"
                                    href="/burials/{{burial.id}}/" target="_new">
                                    <i class="icon-search"></i>
                                </a>
                                <a class="btn btn-mini" popover="Правка" popover-trigger="mouseenter"
                                    href="/burials/{{burial.id}}/edit/" target="_new">
                                    <i class="icon-edit"></i>
                                </a>
                                <a class="btn btn-mini" popover="Эксгумировать" popover-trigger="mouseenter"
                                    href="/burials/{{burial.id}}/exhumate/" target="_new">
                                    <i class="icon-arrow-up"></i>
                                </a>

                                <a class="btn btn-mini" popover="Печать справки" popover-trigger="mouseenter"
                                    href="/burials/{{burial.id}}/spravka/" target="_new"
                                    ng-hide="burial.status==BURIAL_STATUS_EXHUMATED">
                                    <i class="icon-print"></i>
                                </a>
                                <a class="btn btn-mini" popover="Печать справки" popover-trigger="mouseenter"
                                    href="/burials/{{burial.id}}/exhumate/report/" target="_new"
                                    ng-show="burial.status==BURIAL_STATUS_EXHUMATED">
                                    <i class="icon-print"></i>
                                </a>
                                <a class="btn btn-mini" popover="Отмена эксгумации" popover-trigger="mouseenter"
                                    href="/places/{{item.id}}/"
                                    ng-show="burial.status==BURIAL_STATUS_EXHUMATED">
                                    <i class="icon-arrow-down"></i>
                                </a>
                            </div>
	                    </li>
	                </ul>
	                
	                <div class="unstyled well burial" style="padding:10px;"> 
	                	<a class="span12" target="_current" 
	                		href="/burials/create/?place_id={{item.id}}&grave_id={{grave.id}}">
	                		<h4>+ Добавить</h4>
	                	</a>
	                </div>
					<div class="btn-toolbar">
	                	<button class="btn btn-mini btn-danger pull-right" 
	                		ng-show="!haveBurials(grave.id)" 
	                		ng-click="deleteGrave(grave)">
	                		Удалить могилу
                		</button>
					</div>
	            </div>
	        </td>
	        
	        </tr>
	        </table>
        </div>
	        <br/>
        <div class="row-fluid" ng-hide="grave_pages==1">
            <div class="input-prepend input-append">
              <button class="btn" type="button"
                  ng-disabled="loading || grave_page == 1" ng-click="[grave_page=grave_page-1, updateGraves()]" >
                  <i class="icon-backward"></i>
              </button>
              <input class="span1" type="text" ng-model="grave_page" ng-disabled="loading" />
              <span class="add-on">/{{grave_pages}}</span>
              <button class="btn" type="button"
                  ng-disabled="loading || grave_page >= grave_pages" ng-click="[grave_page=grave_page+1, updateGraves()]">
                  <i class="icon-forward"></i>
              </button>
              <div ng-show="loading" class="btn" type="button">
                  <img src="/static/img/ajax-loader.gif" alt="Загрузка" width="14px" height="14px" />
              </div>
            </div>
        </div>
    </div>
    
    

<div ng-include src="'/static/js/app/tpl/manage/place_view_header.html'+version_str"></div>

    <!-- POPUP Place edit form -->
    <div modal="isPlaceEditorOpen" close="closeEditForm('isPlaceEditorOpen')">
        <div ng-include src="'/static/js/app/tpl/manage/form_edit_place.html'+version_str"></div>
    </div>
    <!-- EOF POPUP form -->

    <!-- POPUP Responsible edit form -->
    <div modal="isResponsibleEditorOpen" close="closeEditForm('isResponsibleEditorOpen')">
        <div ng-include src="'/static/js/app/tpl/manage/form_edit_responsible.html'+version_str"></div>
    </div>
    <!-- EOF POPUP form -->

    <!-- POPUP Add grave -->
    <div modal="isGraveAddOpen" close="closeEditForm('isGraveAddOpen')">
        <div ng-include src="'/static/js/app/tpl/manage/form_add_grave.html'+version_str"></div>
    </div>
    <!-- EOF POPUP form -->

    <!-- POPUP Edit grave -->
    <div modal="isGraveEditOpen" close="closeEditForm('isGraveEditOpen')">
        <div ng-include src="'/static/js/app/tpl/manage/form_edit_grave.html'+version_str"></div>
    </div>
    <!-- EOF POPUP form -->

    <!-- POPUP Burial edit form -->
    <div modal="isBurialEditorOpen" close="closeEditForm('isBurialEditorOpen')">
        <div ng-include src="'/static/js/app/tpl/manage/form_edit_burial.html'+version_str"></div>
    </div>
    <!-- EOF POPUP form -->

    <div options="{dialogClass: 'modal gallery'}" modal="isGraveGalleryOpen" close="closeEditForm('isGraveGalleryOpen')">
        <div class="modal-header">
            <h3>Фотографии</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="span9">
                    <img  ng-show="currentImage" ng-src="{{'/media/'+currentImage.bfile}}" />
                    <img  ng-hide="currentImage" alt="Нет фотографии"
                        src="/static/no-image.png" width="265px" height="265px"/>
                </div>
                <div class="span2 well preview-col">
                    <ul class="thumbnails">
                        <li class="thumbnail-preview-col" ng-repeat="image in selectedGravePhotos">
                            <img class="thumbnail"  ng-click="setCurrentImage(image)"
                                 ng-src="{{image.bfile | thumbnail:120:100:'scale'}}"
                            />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn cancel" ng-click="closeEditForm('isGraveGalleryOpen')">Отменить</button>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12" style="width:auto !important">
            <h3>История изменений</h3>
            <table class="table table-striped">
            	<tr>
            		<th>Дата</th>
            		<th>Пользователь</th>
            		<th>Действие</th>
            	</tr>
            	<tr ng-repeat="row in place_log">
            		<td>{{row.dt}}</td>
            		<td>{{row.user}}</td>
            		<td><div ng-bind-html-unsafe="row.msg"></div></td>
            	</tr>
                <tr ng-show="!place_log.length">
                    <td colspan=3>Нет данных</td>
                </tr>
            <table>
    	</div>      
	</div>
        <div class="row-fluid" ng-hide="log_pages==1">
            <div class="input-prepend input-append span8">
              <button class="btn" type="button"
                  ng-disabled="loading || log_page == 1" ng-click="[log_page=log_page-1, update()]" >
                  <i class="icon-backward"></i>
              </button>
              <input class="span1" type="text" ng-model="log_page" ng-disabled="loading"/>
              <span class="add-on">/{{log_pages}}</span>
              <button class="btn" type="button"
                  ng-disabled="loading || log_page >= log_pages" ng-click="[log_page=log_page+1, update()]">
                  <i class="icon-forward"></i>
              </button>
              <div ng-show="loading" class="btn" type="button">
                  <img src="/static/img/ajax-loader.gif" alt="Загрузка" width="14px" height="14px" />
              </div>
            </div>
        </div>
	
	


</div>