<?xml version="1.0" encoding="UTF-8"?>
{% load pytils_numeral %}
{% load pytils_dt %}
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" "http://www.w3.org/TR/MathML2/dtd/xhtml-math11-f.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--This file was converted to xhtml by OpenOffice.org - see http://xml.openoffice.org/odf2xhtml for more info.-->
<head profile="http://dublincore.org/documents/dcmi-terms/">
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
<title xml:lang="en-US">ДОГОВОР № {{ order.burial.pk }}</title>
<meta name="DCTERMS.title" content="ДОГОВОР № {{ order.burial.pk }}"
      xml:lang="en-US"/>
<meta name="DCTERMS.language" content="en-US" scheme="DCTERMS.RFC4646"/>
<meta name="DCTERMS.source" content="http://xml.openoffice.org/odf2xhtml"/>
<meta name="DCTERMS.creator" content="i965"/>
<meta name="DCTERMS.issued" content="2011-08-29T10:01:00" scheme="DCTERMS.W3CDTF"/>
<meta name="DCTERMS.contributor" content="i965"/>
<meta name="DCTERMS.modified" content="2011-08-29T16:56:00" scheme="DCTERMS.W3CDTF"/>
<meta name="DCTERMS.provenance" content="" xml:lang="en-US"/>
<meta name="DCTERMS.subject" content="," xml:lang="en-US"/>
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" hreflang="en"/>
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" hreflang="en"/>
<link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype/" hreflang="en"/>
<link rel="schema.DCAM" href="http://purl.org/dc/dcam/" hreflang="en"/>
<base href="."/>
<style type="text/css">
@page {
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show
}

td, th {
    vertical-align: top;
    font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
    clear: both
}

ol, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

<!--
"li span.odfLiEnd"
-
IE

7
issue-->
	li span. {
    clear: both;
    line-height: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

span.footnodeNumber {
    padding-right: 1em;
}

span.annotation_style_by_filter {
    font-size: 95%;
    font-family: Arial;
    background-color: #fff000;
    margin: 0;
    border: 0;
    padding: 0;
}

* {
    margin: 0;
}

.P1 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    text-align: center ! important;
}

.P10 {
    font-size: 9pt;
    text-align: justify ! important;
    font-family: Times New Roman;
    writing-mode: lr-tb;
}

.P11 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    text-align: center ! important;
}

.P12 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    text-align: center ! important;
}

.P13 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    margin-top: 0.161cm;
    margin-bottom: 0cm;
    text-align: center ! important;
}

.P14 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    margin-top: 0.161cm;
    margin-bottom: 0cm;
}

.P15 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    margin-top: 0.161cm;
    margin-bottom: 0cm;
    line-height: 0.974cm;
}

.P16 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
}

.P17 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    text-align: justify ! important;
}

.P18 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    margin-top: 0.136cm;
    margin-bottom: 0cm;
}

.P19 {
    font-size: 9pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
}

.P2 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    text-align: center ! important;
    font-weight: bold;
}

.P20 {
    font-size: 10pt;
    margin-left: 0cm;
    margin-right: 0cm;
    text-indent: 0cm;
    font-family: Arial;
    writing-mode: page;
    text-align: center ! important;
}

.P21 {
    font-size: 10pt;
    margin-left: 0cm;
    margin-right: 0cm;
    text-indent: 1.588cm;
    font-family: Arial;
    writing-mode: page;
    text-align: justify ! important;
}

.P22 {
    font-size: 12pt;
    margin-left: 0cm;
    margin-right: 0cm;
    text-indent: 1.588cm;
    font-family: Times New Roman;
    writing-mode: page;
    text-align: center ! important;
    font-weight: bold;
}

.P23 {
    font-size: 12pt;
    margin-left: 0cm;
    margin-right: 0cm;
    text-indent: 1.588cm;
    font-family: Times New Roman;
    writing-mode: page;
    text-align: justify ! important;
}

.P3 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    text-align: justify ! important;
}

.P4 {
    font-size: 9pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    text-align: justify ! important;
}

.P5 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    margin-left: 0cm;
    margin-right: 0cm;
    text-align: justify ! important;
    text-indent: 1.588cm;
}

.P6 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    margin-left: 0cm;
    margin-right: 0cm;
    text-align: justify ! important;
    text-indent: 1.588cm;
}

.P7 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    margin-left: 0cm;
    margin-right: 0cm;
    text-align: center ! important;
    text-indent: 1.588cm;
}

.P8 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    margin-left: 0cm;
    margin-right: 0cm;
    text-align: justify ! important;
    text-indent: 1.588cm;
}

.P9 {
    font-size: 12pt;
    font-family: Times New Roman;
    writing-mode: lr-tb;
    text-align: center ! important;
    font-weight: bold;
}

.Table1 {
    width: 16.701cm;
    margin-left: -0.191cm;
    writing-mode: lr-tb;
}

.Table1_A1 {
    vertical-align: top;
    padding-left: 0.191cm;
    padding-right: 0.191cm;
    padding-top: 0cm;
    padding-bottom: 0cm;
    border-style: none;
    writing-mode: lr-tb;
}

.Table1_A {
    width: 8.446cm;
}

.Table1_B {
    width: 8.255cm;
}

.Font_20_Style11 {
    font-family: Times New Roman;
    font-size: 10pt;
    letter-spacing: 0.018cm;
}

.Font_20_Style12 {
    font-family: Times New Roman;
    font-size: 11pt;
    font-weight: bold;
}

.T10 {
    font-size: 9pt;
}

.T2 {
    font-weight: bold;
}

.T4 {
    color: #ff0000;
}

.T6 {
    font-family: Times New Roman;
    font-size: 12pt;
    font-weight: bold;
}

.T7 {
    font-family: Times New Roman;
    font-size: 12pt;
}

.T9 {
    font-size: 9pt;
}

<!--
ODF styles with no properties representable as CSS

-->
.Table1

.1
.T3 .T5 {
}
</style>
</head>
<body dir="ltr"
      style="max-width:22.001cm;margin-top:1.801cm; margin-bottom:1.801cm; margin-left:2cm; margin-right:1.501cm; "><p
        class="P9">ДОГОВОР № {{ order.burial.pk }}</p>

<p class="P1"><span class="T2">об осуществлении ухода за родственными захоронениями  </span></p>

<p class="P2">на кладбищах города Калуги</p>

<p class="P2"> </p>

<p class="P3">г.Калуга                                                                                                  
     {{ now|ru_strftime:"&laquo;%d&raquo; %B %Y"|safe }}г.</p>

<p class="P3"> </p>

<p class="P5">{{ user.profile.org.full_name }}, именуемое в дальнейшем «Учреждение», в лице директора {{ user.profile.org.ceo_name_who }},
    действующего на основании {{ user.profile.org.ceo_document|default:"Устава" }}, с одной стороны,
    и {{ order.burial.place.responsible.full_human_name }}, именуемый в дальнейшем «Ответственный», с другой стороны,
    заключили настоящий договор о нижеследующем:</p>

<p class="P2"> </p>

<p class="P2">1. ПРЕДМЕТ ДОГОВОРА</p>

<p class="P5">1.1. Учреждение осуществляет регистрацию зарезервированного свободного места захоронения
    № {{ order.burial.place.place }}, участка № {{ order.burial.place.area.name }}, кладбища {{ order.burial.place.cemetery }}, оформляет и
    выдает удостоверение ответственного за захоронение,  а Ответственный принимает на себя обязательства по содержанию
    за данным захоронением.</p>

<p class="P3"> </p>

<p class="P1"><span class="T2">2. ОБЯЗАННОСТИ УЧРЕЖДЕНИЯ</span></p>

<p class="P5">2. Учреждение обязуется:</p>

<p class="P5">2.1. Произвести регистрацию зарезервированного свободного места захоронения, указанного в пункте 1.1.
    настоящего договора, в книге регистрации, установленной формы.</p>

<p class="P5">2.2. Осуществить оформление удостоверения ответственного путем внесения в него регистрационных данных о
    захоронении, Ф.И.О. умершего, даты смерти умершего, серии и номер свидетельства о смерти, Ф.И.О. лица,
    ответственного за захоронение и выдать удостоверение Ответственному не позднее следующего дня с момента заключения
    настоящего договора<span class="T4">.</span></p>

<p class="P5">2.3. Обеспечить резервирование места в родственном захоронении, указанном     в п.1.1. настоящего
    договора, размером {{ order.burial.place.places_count }} м.</p>

<p class="P6">2.4. Оказывать на возмездной основе и на основании письменного заявления Ответственного услуги по
    благоустройству мест захоронений, установке надмогильных сооружений, оград согласно тарифам, утвержденным в
    установленном законом порядке.</p>

<p class="P5"> 2.5. При предъявлении свидетельства о смерти умершего, удостоверения ответственного за захоронение, а
    также документов, подтверждающих близкое родство умершего и ранее захороненного, выдавать разрешение на производство
    захоронения:</p>

<p class="P5">- на зарезервированном месте, согласно п.2.3. настоящего договора;</p>

<p class="P5">- в холм захоронения, по истечению 20 лет с момента погребения;</p>

<p class="P5">- урны с прахом (при предъявлении дополнительно справки о кремации), в пределах места захоронения. </p>

<p class="P5">Производство захоронения возможно только при условии соблюдения санитарных норм и правил. </p>

<p class="P7"><span class="T2">3. ОБЯЗАННОСТИ ОТВЕТСТВЕННОГО</span></p>

<p class="P5">3. Ответственный обязуется:</p>

<p class="P6">3.1. Обеспечивать надлежащее содержание захоронения, осуществлять необходимые мероприятия по
    благоустройству захоронения, в том числе по ремонту надмогильных сооружений и оград, а также зеленых насаждений за
    счет собственных средств.</p>

<p class="P5">3.2. Производить установку оград, надмогильных сооружений, благоустройство мест захоронения (укладка
    тротуарной плитки и т.п.) только при наличии соответствующего разрешения Учреждения. Не снимать и не переделывать
    ограды, надмогильные сооружения без согласования с Учреждением.</p>

<p class="P5">3.3. Устанавливать надмогильные сооружения (надгробия) и ограды исключительно в пределах отведенного
    участка. Надмогильные сооружения (надгробия) и ограды не должны иметь частей, выступающих за границы места
    захоронения или нависающих над ним. Высота ограды не должна превышать 0,5 м. </p>

<p class="P5">3.4. Захоронение в родственные могилы или на свободном месте родственного захоронения осуществлять только
    после получения соответствующего разрешения Учреждения. Разрешение о захоронении выдается на основании заявления с
    предъявлением:</p>

<p class="P5">- паспорта лица, оформляющего захоронение;</p>

<p class="P5">- доверенности, выданной Ответственным, оформленной надлежащим образом (в случаях, когда за разрешением
    обратился не Ответственный). </p>

<p class="P3">               - удостоверения о захоронении, а в случаях, когда удостоверение о захоронении не выдавалось
    ранее Учреждением, с предъявлением свидетельства о смерти ранее захороненных на данном участке умерших;</p>

<p class="P5">- свидетельства о смерти умершего или справки о кремации в случае захоронения урны с прахом.</p>

<p class="P5">3.5. Во время посещения кладбища Ответственный обязан неукоснительно соблюдать Правила посещения кладбищ,
    утвержденные муниципальными правовыми актами, а также требования нормативно-правовых актов РФ<span
            class="T4">.</span></p>

<p class="P5">3.6. Выносить мусор в строго отведенные для этого места.</p>

<p class="P5"> </p>

<p class="P1"><span class="T2">4. ОТВЕТСТВЕННОСТЬ</span></p>

<p class="P5">4.1.<span class="T2"> </span>В случае обнаружения на участке захоронения самовольного погребения
    Учреждение принимает меры к установлению виновных лиц и инициирует привлечение их к ответственности в соответствии с
    действующим законодательством. В случае производства перезахоронения останков умерших расходы несет установленные
    виновные лица.</p>

<p class="P5">4.2. <span class="T5">Вред, причиненный личности или имуществу третьих лиц (в том числе моральный вред), вызванный перезахоронением </span>(эксгумацией)
    останков умершего, возмещает лицо, по вине которого осуществляется данное перезахоронение (эксгумация).</p>

<p class="P5">4.3. При обнаружении надмогильных сооружений либо оград, превышающих допустимые размеры, а также при
    обнаружении надмогильных сооружений либо оград, установленных без получения предварительного разрешения Учреждение
    предупреждает Ответственного посредством письменного уведомления и выставлением на могильном холме трафарета с
    предупреждением о необходимости привести надмогильное сооружение, ограду в соответствие с требованиями в
    установленный в уведомлении срок. Также Учреждение вправе сообщить о выявленных правонарушениях в административную
    комиссию города Калуги с целью привлечения виновных лиц к административной ответственности.</p>

<p class="P5">4.4. При нарушении  муниципальных правовых актов, актов Российской Федерации и актов Калужской области
    Учреждение вправе обратиться в уполномоченные органы с заявлением о привлечении виновных лиц к административной
    ответственности. </p>

<p class="P5">4.5. Если в результате противоправных действий был причинен имущественный вред Учреждению, в том числе
    элементам благоустройства, зеленым насаждениям, а также вред имуществу третьих лиц, их жизни и здоровью, данный вред
    полностью возмещается лицом, его причинившим.</p>

<p class="P5">4.6. Ответственность за соответствие надписей на надмогильных сооружениях сведениям о лицах, погребенных в
    данном захоронении несет Ответственный. При обнаружении каких-либо расхождений Учреждение письменно уведомляет
    Ответственного о необходимости устранения выявленных несоответствий. Также Учреждение вправе сообщить о выявленных
    расхождениях в административную комиссию города Калуги с целью привлечения виновных лиц к административной
    ответственности.</p>

<p class="P2">5. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</p>

<p class="P5">5.1. В случае возникновения необходимости передать удостоверение ответственного другому лицу,
    Ответственный письменно уведомляет об этом Учреждение и сообщает лицо, которому намерено передать удостоверение.
    Удостоверение передается лицу, указанному Ответственным в уведомлении, после заключения с данным лицом  договора об
    осуществлении ухода за родственными захоронениями на кладбищах города Калуги и внесения соответствующих изменения
    Учреждением в удостоверение. В случае уклонения лица, которому Ответственный намерен передать удостоверение
    ответственного, от заключения указанного договора, обязательства, вытекающие из настоящего договора,
    распространяются на Ответственного.   </p>

<p class="P5"> </p>

<p class="P20"><span class="T6">6</span><span class="T6">. СРОК ДЕЙСТВИЯ ДОГОВОРА</span></p>

<p class="P21"><span class="T7">6</span><span class="T7">.1. Договор начинает действовать с момента его подписания Сторонами и до полного исполнения Сторонами своих обязательств по настоящему договору.</span>
</p>

<p class="P6">6.2. В случае, если в соответствии с муниципальными правовыми актами, кладбище или место захоронения,
    указанное в пункте 1.1. настоящего договора, подлежит сносу, настоящий договор прекращает срок действия с момента их
    сноса без дополнительного уведомления Ответственного Учреждением. </p>

<p class="P5">6.3. Настоящий договор считается действующим при изменении типа учреждения, его организационно-правовой
    формы или в случае возложения обязанностей специализированной службы по вопросам похоронного дела города Калуги на
    другую организацию.  </p>

<p class="P22"> </p>

<p class="P22">7. РАЗРЕШЕНИЕ СПОРОВ</p>

<p class="P21"><span class="T7">7</span><span class="T7">.1. Стороны будут стремиться к разрешению всех споров и разногласий, которые могут возникнуть по Договору или в связи с ним, путем переговоров.</span>
</p>

<p class="P21"><span class="T7">7</span><span class="T7">.2. Споры, не урегулированные путем переговоров, передаются на рассмотрение в Арбитражный суд Калужской области.</span>
</p>

<p class="P23"> </p>

<p class="P22">8. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</p>

<p class="P21"><span class="T7">8.1. Договор составлен в двух экземплярах</span><span class="T7"> имеющих одинаковую юридическую силу по одному для каждой из Сторон.</span>
</p>

<p class="P5"> </p>

<div style="page-break-inside: avoid;">
    <p class="P1"><span class="T2">9. РЕКВИЗИТЫ И ПОДПИСИ СТОРОН</span></p>
    <table border="0" cellspacing="0" cellpadding="0" class="Table1">
        <colgroup>
            <col width="369"/>
            <col width="361"/>
        </colgroup>
        <tr class="Table11">
            <td style="text-align:left;width:8.446cm; " class="Table1_A1"><p class="P13"><span
                    class="Font_20_Style12"><span class="T9">Учреждение</span></span></p>

                <p class="P19">{{ user.profile.org.name }}</p>

                <p class="P19">Адрес: {{ user.profile.org.location.post_index }} {{ user.profile.org.location }}</p>

                <p class="P19">т/ф {{ user.profile.org.phones }}</p>

                <p class="P19">ИНН {{ user.profile.org.inn }}, КПП {{ user.profile.org.kpp }}</p>

                <p class="P19">ОГРН {{ user.profile.org.ogrn }}</p>

                <p class="P10">р/сч {{ user.profile.org.bank_account.rs }}</p>

                {% if org.bank_account.ls %}<p class="P10">л/сч {{ user.profile.org.bank_account.ls }}</p>{% endif %}<p
                        class="P10">{{ user.profile.org.bank_account.bankname }}</p>

                {% if org.bank_account.ks %}<p class="P4">к/сч {{ user.profile.org.bank_account.ks }}</p>{% endif %}<p class="P4">
                БИК {{ user.profile.org.bank_account.bik }}</p>

                <p class="P16"><span class="Font_20_Style11"><span class="T9"/></span></p>

                <p class="P18"><span class="Font_20_Style11"><span class="T9"/></span></p>

                <p class="P18"><span class="Font_20_Style11"><span class="T9">Директор {{ user.profile.org.director }}</span></span></p>

                <p class="P18"><span class="Font_20_Style12"><span class="T9"/></span></p>

                <p class="P18"><span class="Font_20_Style12"><span
                        class="T9">____________________________ {{ user.profile.org.ceo.full_name }}</span></span></p>

                <p class="P14"><span class="Font_20_Style12"><span class="T9"/></span></p></td>
            <td style="text-align:left;width:8.255cm; " class="Table1_A1"><p class="P12"><span
                    class="Font_20_Style12"><span class="T9">Ответственный</span></span></p>

                <p class="P11"><span class="Font_20_Style12"><span class="T9"/></span></p>

                <p class="P17"><span class="Font_20_Style11"><span
                        class="T9">{{ order.burial.place.responsible.full_human_name|default:"__________________________________________" }}</span></span>
                </p>

                <p class="P11"><span class="Font_20_Style12"><span class="T9"/></span></p>

                <p class="P17"><span class="Font_20_Style11"><span
                        class="T9">{{ order.burial.place.responsible.location|default:"__________________________________________" }}</span></span>
                </p>

                <p class="P15">
                    {% if burial.place.responsible.personid %}
                        <span class="T9">{{ order.burial.place.responsible.personid.get_id_type_display }}: серия {{ order.burial.place.responsible.personid.series }} № {{ order.burial.place.responsible.personid.number }}, выдан</span>
                        <span class="T10"> </span>
                        <span class="T9">{{ order.burial.customer.personid.when|date:"d.m.Y" }}, </span>
                        <span class="Font_20_Style12">{{ order.burial.place.responsible.personid.source }}</span>
                    {% else %}
                        <span class="T9">паспорт: серия ___________ № ___________, выдан</span>
                        <span class="T10"> </span><span class="T9">____________, </span>
                        <span class="Font_20_Style12"><span class="T9">_______________________</span></span>
                        <span class="Font_20_Style12"><span class="T10">____________</span></span></p><p class="P15">
                        <span class="Font_20_Style12"><span class="T10">_______________</span></span>
                        <span class="Font_20_Style12"><span class="T9">________</span></span>
                        <span class="Font_20_Style12"><span class="T10">_________________________</span></span>
                    {% endif %}
                    </p>

                <p class="P18"><span class="Font_20_Style12"><span
                        class="T9">____________________________ {{ order.burial.place.responsible.full_name|default:"_________________________" }}</span></span>
                </p>
            </td>
        </tr>
    </table>
    <p class="P8"/>
</div>
<script type="text/javascript">
    window.print();
</script>
</body>
</html>