{% load pytils_dt %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" "http://www.w3.org/TR/MathML2/dtd/xhtml-math11-f.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--This file was converted to xhtml by OpenOffice.org - see http://xml.openoffice.org/odf2xhtml for more info.-->
<head profile="http://dublincore.org/documents/dcmi-terms/">
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
<title xml:lang="en-US">Справка</title>
<meta name="DCTERMS.title" content="" xml:lang="en-US"/>
<meta name="DCTERMS.language" content="en-US" scheme="DCTERMS.RFC4646"/>
<meta name="DCTERMS.source" content="http://xml.openoffice.org/odf2xhtml"/>
<meta name="DCTERMS.issued" content="1969-12-31T16:00:00" scheme="DCTERMS.W3CDTF"/>
<meta name="DCTERMS.modified" content="1969-12-31T16:00:00" scheme="DCTERMS.W3CDTF"/>
<meta name="DCTERMS.provenance" content="" xml:lang="en-US"/>
<meta name="DCTERMS.subject" content="," xml:lang="en-US"/>
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" hreflang="en"/>
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" hreflang="en"/>
<link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype/" hreflang="en"/>
<link rel="schema.DCAM" href="http://purl.org/dc/dcam/" hreflang="en"/>
<base href="."/>
<style type="text/css">
@page {
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show
}

td, th {
    vertical-align: top;
    font-size: 10pt;
}

h1, h2, h3, h4, h5, h6 {
    clear: both
}

ol, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

<!--
"li span.odfLiEnd"
-
IE

7
issue-->
	li span. {
    clear: both;
    line-height: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

span.footnodeNumber {
    padding-right: 1em;
}

* {
    margin: 0;
}

.gr1 {
    padding-top: 0.0051in;
    padding-bottom: 0.0051in;
    padding-left: 0.0051in;
    padding-right: 0.0051in;
}

.P1 {
    writing-mode: page;
    color: #000000;
    font-family: Arial;
    font-size: 10pt;
    font-style: normal;
    text-shadow: none;
    text-decoration: none ! important;
    font-weight: normal;
}

.ta1 {
    writing-mode: lr-tb;
}

.Default {
    font-family: Arial;
    vertical-align: middle;
    color: #000000;
    font-size: 10pt;
    font-style: normal;
    text-decoration: none ! important;
    font-weight: normal;
}

.ce1 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    border-bottom-style: none;
    border-left-width: 0.0351cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: center ! important;
}

.ce10 {
    color: #000000;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce11 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: center ! important;
}

.ce12 {
    color: #000000;
    font-size: 14pt;
    font-style: normal;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    text-align: center ! important;
}

.ce13 {
    color: #000000;
    font-size: 18pt;
    font-style: italic;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    text-align: right ! important;
}

.ce14 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    text-align: center ! important;
}

.ce15 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
    text-align: center ! important;
}

.ce16 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    text-align: center ! important;
}

.ce17 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: center ! important;
}

.ce18 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce19 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: center ! important;
}

.ce2 {
    color: #000000;
    font-size: 14pt;
    font-style: normal;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    border-bottom-style: none;
    border-left-width: 0.0351cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
    text-align: center ! important;
}

.ce20 {
    color: #000000;
    font-size: 8pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    text-align: left ! important;
}

.ce21 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    text-align: center ! important;
}

.ce22 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: center ! important;
}

.ce23 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: center ! important;
}

.ce24 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce25 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: center ! important;
}

.ce26 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce27 {
    color: #000000;
    font-size: 8pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    text-align: center ! important;
}

.ce28 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: center ! important;
}

.ce29 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

.ce3 {
    color: #000000;
    font-size: 18pt;
    font-style: italic;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-style: none;
    border-left-width: 0.0351cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-style: none;
    text-align: right ! important;
}

.ce30 {
    color: #000000;
    font-size: 20pt;
    font-style: italic;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
}

.ce31 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
    text-align: center ! important;
}

.ce32 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    text-align: center ! important;
}

.ce33 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-style: none;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce34 {
    color: #000000;
    font-size: 8pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
    text-align: center ! important;
}

.ce35 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce36 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    border-bottom-style: none;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: center ! important;
}

.ce37 {
    color: #000000;
    font-size: 14pt;
    font-style: normal;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    border-bottom-style: none;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
    text-align: center ! important;
}

.ce38 {
    color: #000000;
    font-size: 20pt;
    font-style: italic;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-style: none;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
}

.ce39 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-style: none;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
}

.ce4 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    border-bottom-style: none;
    border-left-width: 0.0351cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-style: none;
    text-align: left ! important;
}

.ce40 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
    text-align: center ! important;
}

.ce41 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: center ! important;
}

.ce42 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: center ! important;
}

.ce43 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
    text-align: center ! important;
}

.ce44 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-style: none;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce45 {
    color: #000000;
    font-size: 8pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
    text-align: center ! important;
}

.ce5 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-style: none;
    border-left-width: 0.0351cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-style: none;
}

.ce6 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-width: 0.0351cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-width: 0.0351cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
    text-align: center ! important;
}

.ce7 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: bottom;
    border-bottom-style: none;
    border-left-width: 0.0351cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce8 {
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    border-bottom-style: none;
    border-left-width: 0.0351cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-width: 0.0351cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce9 {
    color: #000000;
    font-size: 8pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial;
    text-decoration: none ! important;
    vertical-align: top;
    border-bottom-width: 0.0351cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-width: 0.0351cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-style: none;
    text-align: left ! important;
}

.co1 {
    width: 0.8717in;
}

.co2 {
    width: 0.7291in;
}

.co3 {
    width: 0.9272in;
}

.co4 {
    width: 0.6665in;
}

.co5 {
    width: 0.7709in;
}

.co6 {
    width: 0.8126in;
}

.ro1 {
    height: 0.2083in;
}

.ro2 {
    height: 0.2638in;
}

.ro3 {
    height: 0.361in;
}

.ro4 {
    height: 0.1807in;
}

.ro5 {
    height: 0.1945in;
}

.ro5 {
    height: 1.945in;
}

<!--
ODF styles with no properties representable as CSS

-->
{
}
</style>
</head>
<body style="">
<table border="0" cellspacing="0" cellpadding="0" class="ta1">
    <tr class="ro1">
        <td colspan="9" style="text-align:left; " class="ce1"><p>{{ user.profile.org.name }}</p></td>
    </tr>
    <tr class="ro2">
        <td colspan="9" style="text-align:left;" class="ce2"><p>Ритуальная служба</p></td>
    </tr>
    <tr class="ro3">
        <td colspan="4" style="text-align:left; " class="ce3"><p>Справка №</p></td>
        <td style="text-align:left; " colspan="4" class="ce30"><p>{{ burial.pk }}-{{ now|date:"ymdHi" }}</p>
        </td>
        <td style="text-align:left;" class="ce38"> </td>
    </tr>
    <tr class="ro1">
        <td colspan="3" style="text-align:left; " class="ce4"><p>{{ now|ru_strftime:"&laquo;%d&raquo; %B %Y"|safe }}</p>
        </td>
        <td style="text-align:left; " class="Default"> </td>
        <td style="text-align:left; " class="Default"> </td>
        <td style="text-align:left; " class="Default"> </td>
        <td style="text-align:left; " class="Default"> </td>
        <td style="text-align:left; " class="Default"> </td>
        <td style="text-align:left; " class="ce39"> </td>
    </tr>
    <tr class="ro1">
        <td style="text-align:left; " class="ce5"><p>Дана</p></td>
        <td colspan="8" style="text-align:left; " class="ce15"></td>
    </tr>
    <tr class="ro1">
        <td colspan="3" style="text-align:left; " class="ce5"><p>Проживащему(ей) по адресу:</p></td>
        <td colspan="6" style="text-align:left; " class="ce25"> 
    </tr>
    <tr class="ro1">
        <td colspan="9" style="text-align:left; " class="ce6"></td>
    </tr>
    <tr class="ro1">
        <td style="text-align:left; " class="ce7 co1"><p>о том, что</p></td>
        <td colspan="8" style="text-align:left; " class="ce17">{{ burial.deadman|default_if_none:"Неизвестный" }}</td>
    </tr>
    <tr class="ro1">
        <td style="text-align:left; " class="ce5 co1"><p>похоронен(а)</p></td>
        <td style="text-align:left; " class="ce17" colspan="8">
            <p> {% if burial.cemetery.address.city %}
                    в г.{{ burial.cemetery.address.city }}
                {% endif %}
                на кладбище {{ burial.cemetery|default_if_none:"(не указано)" }}
                {% if burial.cemetery.address %}
                    ({{ burial.cemetery.address }})
                {% endif %}
            </p>
       </td>
    </tr>
    <tr class="ro1">
        <td style="text-align:left; " class="ce5 co1"><p>участок №</p></td>
        <td colspan="3" style="text-align:left; " class="ce19">{{ burial.place.area.name }}</td>
        <td style="text-align:left; " class="ce29"><p>ряд № </p></td>
        <td colspan="2" style="text-align:left; " class="ce31">{{ burial.place.row }}</td>
        <td style="text-align:left; " class="ce29"><p>место № </p></td>
        <td colspan="2" style="text-align:left; " class="ce31">{{ burial.place.place }}</td>
         
    </tr>
    <tr class="ro1">
        <td colspan="3" style="text-align:left; " class="ce5"><p>Справка дана для предъявления в</p></td>
        <td colspan="6" style="text-align:left; " class="ce25"> 
    </tr>
    <tr class="ro1">
        <td colspan="9" style="text-align:left; " class="ce6"></td>
         
    </tr>
    <tr>
        <td colspan="9" class="ce6" style="border-bottom-width: 0;"><br/></td>
    </tr>
    <tr class="ro1">
        <td colspan="2" style="text-align:left; border-top-width: 0; " class="ce8"><p>Справка выдана </p></td>
        <td colspan="3" style="text-align:right; border-top-width: 0;" class="ce24">__________________________</td>
        <td style="text-align:right; border-top-width: 0; " colspan="4" class="ce33"><p>
            ({{ user.profile|default:"__________________________" }})</p>
    </tr>
    <tr class="ro4">
        <td style="text-align:left; border-bottom-width: 0; " class="ce9 co1"><p>М.П.</p></td>
        <td style="text-align:left; border-bottom-width: 0; " class="ce20 co2"> </td>
        <td style="text-align:left; border-bottom-width: 0; " class="ce20"> </td>
        <td colspan="3" style="text-align:left; border-bottom-width: 0; " class="ce27"><p>(подпись)</p></td>
        <td colspan="3" style="text-align:left; border-bottom-width: 0; " class="ce34"><p>(расшифровка подписи)</p>
    </tr>
    <tr>
        <td colspan="9" class="ce6" style="border-bottom-width: 0; border-top-width: 0;"><br/><br/><br/><br/><br/></td>
    </tr>
    <tr class="ro5">
        <td style="text-align:left; " class="ce10"> </td>
        <td style="text-align:left; " class="ce10"> </td>
        <td style="text-align:left; " class="ce10"> </td>
        <td style="text-align:left; " class="ce10"> </td>
        <td style="text-align:left; " class="ce10"> </td>
        <td style="text-align:left; " class="ce10"> </td>
        <td style="text-align:left; " class="ce10"> </td>
        <td style="text-align:left; " class="ce10"> </td>
        <td style="text-align:left; " class="ce10"> 
    </tr>
</table>

<script type="text/javascript">
    window.print();
</script>
</body>
</html>