﻿<form name="form_phone">
	<h2>Редактировать телефон</h2>

	<label for="phonetype">Тип:</label>

	<select ng-model="phone.phonetype" name="phonetype" ng-options="value.id as value.name for value in PHONETYPE_CHOICES"></select>
	<span class="error" ng-show="form_phone.phonetype.$error.required">Выберите тип телефона</span>
	<label for="phone_number">Номер:</label>

	<input type="text" name="phone_number" 
	   ng-model="phone.number" 
	   ui-mask="{{'+9 (999) 999-9999'}}"
	   off-ng-required="requireTel"
	   off-ng-pattern="phoneNumberPattern" 
	   ng-maxlength="maxlength">

	<span class="error" ng-show="form_phone.phone_number.$error.required">Укажите номер телефона</span>
	<div class="row-fluid">
		<button ng-click="save(phone)" ng-disabled="!phone.number.length" class="btn btn-primary">
			Сохранить
		</button>
		<button ng-click="[destroy(phone), close()]" class="btn btn-danger">
			Удалить
		</button>
	</div>
</form>
