﻿<div class="phones_block">
	<div ng-hide="isStaticBlock">
		<table class="table table-striped">
			<tr>
				<th>Тип</th>
				<th>Номер</th>
				<th>
				<button class="btn btn-success btn-mini"
				ng-click="open()">
					<span class="icon-plus"></span>
				</button></th>
			</tr>
			<tr ng-repeat="phone in phones">
				<td>{{phone.phonetype | objList:PHONETYPE_CHOICES}}</td>
				<td>{{phone.number}}</td>
				<td>
				<button class="btn btn-success btn-mini"
				ng-click="open(phone)">
					<span class="icon-edit"></span>
				</button></td>
			</tr>
		</table>
		<p ng-show="responsible.phones"><b>Старые записи телефонов:</b>
			{{responsible.phones}}
		</p>
	</div>

	<!-- Phone add form -->
	<div ng-show="isPhoneAddOpen">
		<div ng-include src="'/static/js/app/directive/phones/form_add_phone.html'+version_str"></div>
	</div>
	<!-- EOF add form -->

	<!-- Phone edit form -->
	<div ng-show="isPhoneEditOpen">
		<div ng-include src="'/static/js/app/directive/phones/form_edit_phone.html'+version_str"></div>
	</div>
	<!-- EOF edit form -->
</div>

