{% load i18n %}

<h2>
    {% if 'order' in request.path %}
        {% trans "Заказчик" %}
    {% else %}
        {% trans "Заявитель" %}
    {% endif %}
    {% if form.instance.applicant_organization %}
        {{ form.instance.applicant_organization }}
    {% elif form.instance.applicant %}
        {{ form.instance.applicant }}
    {% else %}
    {% endif %}
</h2>
<div id="cont_applicant">
    {{ form.opf.errors }}
    <p>{{ form.opf.label_tag }} {{ form.opf }}<span class="helptext">{{ form.opf.help_text }}</span></p>

    <div id="applicant_form_org">
        {{ form.applicant_organization.errors }}
        <div class="inline">
            {{ form.applicant_organization.label_tag }} {{ form.applicant_organization }}<span class="helptext">{{ form.applicant_organization.help_text }}</span>
            <p class="inline">
                <a href="#add_loru" role="button" class="btn btn-loru" data-toggle="modal">
                    {% trans "добавить юрлицо" %}
                </a>
                <a href="#" class="btn btn-edit-org" target="_blank">
                    {% trans "править" %}
                </a>
                <div id="cannot_edit_org_message" class="inline" style="padding-left: 10px; vertical-align: top;">
                    {% trans "Правка организации с активными пользователями недоступна." %}<br />
                    {% include "goto_support.html" %}
                </div>
            </p>
            <script type="text/javascript">
                ORGS_INACTIVE = [{% for org in form.fields.applicant_organization.inactive_queryset %}"{{ org.pk }}"{% if not forloop.last %},{% endif %}{% endfor %}];
                ORGS_LIST = [{% for org in form.fields.applicant_organization.queryset %}"{{ org.name|escapejs }}"{% if not forloop.last %},{% endif %}{% endfor %}];
                $(function() {
                    $('select[name$=applicant_organization]').attr('autocomplete', 'off').change(function() {
                        if (ORGS_INACTIVE.indexOf($(this).val()) > -1) {
                            $('.btn-edit-org').attr('href', '/org/'+$(this).val()+'/edit/').show();
                            $('#cannot_edit_org_message').hide();
                        } else {
                            $('.btn-edit-org').hide();
                            if ($(this).val()) {
                                $('#cannot_edit_org_message').show();
                            } else {
                                $('#cannot_edit_org_message').hide();
                            }
                        }
                    }).each(function() {
                        var sel_input = $(this);
                        var ac_input = $('<input type="text">');
                        if (sel_input.find('option:selected').attr('value')) {
                            ac_input.val(sel_input.find('option:selected').text());
                        }
                        ac_input.insertAfter(sel_input);
                        sel_input.hide();
                        ac_input.typeahead({
                            items: 100,
                            source: ORGS_LIST,
                            onselect: function() {
                                ac_input.change();
                            },
                            highlighter : function(item){
                                return item.replace(new RegExp('(' + escapeRegExp(this.query) + ')', 'ig'), function ($1, match) {
                                    return '<strong>' + match + '</strong>'
                                })
                            }
                        }).change(function() {
                            var item = $(this).val();
                            var processed = false;
                            sel_input.find('option').each(function() {
                                if ($(this).text() == item) {
                                    sel_input.val($(this).attr('value'));
                                    sel_input.change();
                                    processed = true;
                                }
                            });
                            if (!processed) {
                                alert("Указана несуществующая организация");
                                ac_input.val(sel_input.find('option:selected').text());
                            }
                        });
                    });
                    $('input[name$=applicant_organization]').change();
                    $("#cont_applicant ul").each(function(index,element){
                        $(this).addClass("unstyled");
                    });
                    $("form.order_form ul").each(function(index,element){
                        $(this).addClass("unstyled");
                    });

                });
            </script>
        </div>

        <h2>{% trans "Агент" %}</h2>

        {{ form.agent_director.errors }}
        <p>{{ form.agent_director.label_tag }} {{ form.agent_director }}<span class="helptext">{{ form.agent_director.help_text }}</span></p>

        {{ form.agent.errors }}
        <div class="inline">
            {{ form.agent.label_tag }} {{ form.agent }}<span class="helptext">{{ form.agent.help_text }}</span>
            <p>
                <a href="#add_agent" role="button" class="btn btn-agent" data-toggle="modal">
                    {% trans "добавить агента" %}
                </a>
            </p>
        </div>

        {{ form.dover.errors }}
        <div class="inline">
            {{ form.dover.label_tag }} {{ form.dover }}<span class="helptext">{{ form.dover.help_text }}</span>
            <p>
                <a href="#add_dover" role="button" class="btn btn-dover" data-toggle="modal">
                    {% trans "добавить доверенность" %}
                </a>
            </p>
        </div>
        <br/>
    </div>

    <div id="applicant_form_person">
        {{ form.applicant_form.as_p }}
        <h3>{% trans "Адрес" %}</h3>
        <div class="form_block">
            {% with form.applicant_address_form as form %}
                {% include "location_form.html" %}
            {% endwith %}
        </div>
        <h3>{% trans "Удостоверение личности" %}</h3>
        <div class="form_block">
            {{ form.applicant_id_form.id_type.errors }}
            {% if 'burial' in request.path and not request.REQUEST.archive and not form.instance.is_archive %}    
                <p>
                    {{ form.applicant_id_form.flag_no_applicant_doc_required.label_tag }} {{ form.applicant_id_form.flag_no_applicant_doc_required }}
                    <span class="helptext">{{ form.applicant_id_form.flag_no_applicant_doc_required.help_text }}</span>
                </p>
            {% endif %}    
            <p class="inline">
                {{ form.applicant_id_form.id_type.label_tag }} {{ form.applicant_id_form.id_type }}
                <span class="helptext">{{ form.applicant_id_form.id_type.help_text }}</span>
            </p>
            <p class="inline">
                <a href="#add_doctype" role="button" class="btn" data-toggle="modal">
                    {% trans "добавить тип" %}
                </a>
            </p>

            {{ form.applicant_id_form.series.errors }}
            <p class="inline">
                {{ form.applicant_id_form.series.label_tag }} {{ form.applicant_id_form.series }}
                <span class="helptext">{{ form.applicant_id_form.series.help_text }}</span>
            </p>

            {{ form.applicant_id_form.number.errors }}
            <p class="inline">
                {{ form.applicant_id_form.number.label_tag }} {{ form.applicant_id_form.number }}
                <span class="helptext">{{ form.applicant_id_form.number.help_text }}</span>
            </p>

            {{ form.applicant_id_form.source.errors }}
            <p class="inline">
                {{ form.applicant_id_form.source.label_tag }} {{ form.applicant_id_form.source }}
                <span class="helptext">{{ form.applicant_id_form.source.help_text }}</span>
            </p>

            {{ form.applicant_id_form.date.errors }}
            <p class="inline">
                {{ form.applicant_id_form.date.label_tag }} {{ form.applicant_id_form.date }}
                <span class="helptext">{{ form.applicant_id_form.date.help_text }}</span>
            </p>
        </div>
    </div>
</div>
