{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Архив" %}</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>{% trans "Номер" %}</th>
            {% if user.profile.is_ugh %}
                <th>{% trans "Тип" %}</th>
                <th>{% trans "Заявитель" %}</th>
            {% endif %}
            <th>{% trans "Кладбище" %}</th>
            <th>{% trans "Место" %}</th>
            <th>{% trans "Усопший" %}</th>
            <th>{% trans "Запланировано" %}</th>
            <th>{% trans "Статус" %}</th>
            <th></th>
        </tr>
        {% for b in burials %}
            <tr>
                <td>{{ b.pk }}</td>
                {% if user.profile.is_ugh %}
                    <td>{{ b.get_source_type_display }}</td>
                    <td>
                        {% if b.applicant %}
                            {{ b.applicant }}
                        {% else %}
                            {{ b.loru_name }}
                        {% endif %}
                    </td>
                {% endif %}
                <td>{{ b.cemetery }} / {{ b.ugh_name }}</td>
                <td>
                    {% trans "Участок" %}: {{ b.area|default:"" }}<br/>
                    {% trans "Ряд" %}: {{ b.row|default:"" }}<br/>
                    {% trans "Место" %}: {{ b.place_number|default:"" }}
                </td>
                <td>{{ b.deadman|default:"" }}</td>
                <td>{{ b.plan_date|date:"d.m.Y"|default:"" }} {{ b.plan_time|time:"H:i"|default:"" }}</td>
                <th>
                    {{ b.status_str|default:"" }}
                    <br/>
                    {{ b.status_dt|default:"" }}
                    <br/>
                    {{ b.changed_by.profile|default:"" }}
                </th>
                <td>
                    <a class="btn" href="{% url view_burial b.pk %}">{% trans "просмотр" %}</a>
                    {% if user.profile.org == b.applicant_organization and b.is_full and b.is_edit %}
                        <a class="btn" href="{% url edit_burial b.pk %}">{% trans "правка" %}</a>
                    {% elif b.is_edit and b.is_ugh %}
                        {% if user.profile.org == b.cemetery.ugh or user.profile.org == b.ugh %}
                            <a class="btn" href="{% url edit_burial b.pk %}">{% trans "правка" %}</a>
                        {% endif %}
                    {% elif b.is_finished and user.profile.is_ugh %}
                        <a class="btn" href="{% url edit_burial b.pk %}">{% trans "правка" %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% include "paginator.html" %}

    {% if user.profile.is_loru %}
        <p>
            <a class="btn" href="{% url create_burial %}">{% trans "создать захоронение" %}</a>
        </p>
    {% endif %}
{% endblock %}