{% extends "base.html" %}

{% load i18n assets %}


{% block container_attr_extra %}ng-app="angularPD" ng-view{% endblock %}

{% block jquery %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.js"></script>
	{% assets "js_jquery" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
    <link type="text/css" href="{{ STATIC_URL }}jquery-ui/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" />
{% endblock %}


{% block scripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}angular/angular.min.js"></script>

	<!-- js_angular -->
	{% assets "js_angular" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

	<!-- script src="{{ STATIC_URL }}js/jquery/vendor/jquery.ui.widget.js"></script-->

	<!-- FileUpload -->
	<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
	<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
	<!--script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script-->
	{% assets "js_fileupload" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
	<!-- EOF FileUpload -->
	
	<!-- js_app -->
	{% assets "js_app" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

	{% assets "css_app" %}
	<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />{% endassets %}

	<script type="text/javascript">
		var csrfToken = '{{ csrf_token }}'; 
	</script>
{% endblock %}


{% block content %}
	<p>
		<i>Загрузка приложения..</i>
	</p>
{% endblock %}

{% block counters %}
{% endblock %}