<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">{% load i18n assets%}
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    {% block meta_extra %}{% endblock %}

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}less/bootstrap.css" type="text/css" />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
        #hidden_if_js {
            margin: 15px;
        }
    </style>
    <noscript>
        <style>
            #hidden_if_no_js {
                display: none;
            }
        </style>
    </noscript>

	{% block jquery %}
   	<link type="text/css" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    <link type="text/css" href="{{ STATIC_URL }}css/jquery-ui-timepicker.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/ui/minified/jquery.ui.datepicker.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.timepicker.js"></script>
	{% endblock %}

	{% assets "css_static" %}
	<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />{% endassets %}
	{% assets "css_print" %}
	<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" media="print" />{% endassets %}



    <!-- favicon for Internet Explorer -->
    <link rel="shortcut glyphicon" href="{{ STATIC_URL }}img/favicon16x16.ico" />
    <!-- favicon for other browsers: Firefox, Chrome. As for Opera, it needs http:/.../favicon.ico -->
    <link rel="glyphicon" type="image/png" href="{{ STATIC_URL }}img/favicon24x24.png" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% if close %} <script type="text/javascript">top.close();</script> {% endif %}

	{% assets "js_bootstrap_static" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
    <script type="text/javascript"
            src="{% if request.is_secure %}https{% else %}http{% endif %}://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCr1PI2Q-8hxtstv5kka-8w0xxuPUEHNDA&sensor=true&language=ru">
    </script>

    <script type="text/javascript">
        {% if user.profile.lat and user.profile.lng %}
            USER_DEFAULT_BOUNDS = new google.maps.LatLngBounds(
                new google.maps.LatLng({{ user.profile.lat|add:-1 }}, {{ user.profile.lng|add:-1 }}),
                new google.maps.LatLng({{ user.profile.lat|add:1 }}, {{ user.profile.lng|add:1 }})
            );
        {% else %}
            USER_DEFAULT_BOUNDS = null;
        {% endif %}
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/cemetery.js" defer="true"></script>

    {% block scripts %}{% endblock %}
</head>
<body>
    <div id="hidden_if_no_js">
    
    
    
    
        <div class="navbar navbar-inverse navbar-top no-print" role="navigation">
            <div class="navbar-inner">
                <div class="container">
          <div class="navbar-header">
                <a class="btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="glyphicon-bar"></span>
                    <span class="glyphicon-bar"></span>
                    <span class="glyphicon-bar"></span>
                </a>
                <a class="navbar-brand" href="/">Похоронное Дело</a>
            </div>
                    <div class="btn-group pull-right dropdown" id="auth_menu">
                        {% if user.is_authenticated %}
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#auth_menu">
                                <i class="glyphicon-user"></i> {{ user.profile.last_name_initials }}
                                {% if user.profile.org %}[{{ user.profile.org }}]{% endif %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if user.profile.is_ugh %}
                                    <li><a href="{% url manage_cemeteries %}">{% trans "Кладбища" %}</a></li>
                                    <li><a href="{% url loru_registry %}">{% trans "Реестр ЛОРУ" %}</a></li>
                                {% endif %}
                                {% if user.profile.org.pk %}
                                    <li><a href="{% url edit_org user.profile.org.pk %}">{% trans "Организация" %}</a></li>
                                {% endif %}
                                {% if user.profile.pk %}
                                    <li><a href="{% url user_profile %}">{% trans "Пользователь" %}</a></li>
                                {% endif %}
                                {% if user.profile.is_loru %}
                                    <li><a href="{% url manage_products %}">{% trans "Товары и услуги" %}</a></li>
                                {% endif %}
                                {% if user.profile.org.pk %}
                                    <li><a href="{% url org_log %}">{% trans "Журнал" %}</a></li>
                                {% endif %}
                                {% if user.profile.is_supervisor %}
                                    <li class="divider"></li>
                                    <li><a href="{% url registrants %}">{% trans "Регистрация" %}</a></li>
                                    <li><a href="{% url registration_old %}">{% trans "Регистрация (старый вариант)" %}</a></li>
                                    <li><a href="{% url login_log %}">{% trans "Журнал входов в систему" %}</a></li>
                                    <li><a href="{% url org_burial_stats %}">{% trans "Статистика захоронений" %}</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{% url ulogout %}">{% trans "Выйти" %}</a></li>
                            </ul>
                        {% else %}
                            <a class="btn btn-default" href="{% url ulogin %}">{% trans "Войти" %}</a>
                            {# <a class="btn btn-default" href="{% url register %}">{% trans "Зарегистрироваться (для ЮЛ)" %}</a> #}
                        {% endif %}
                    </div>
                    <div class="navbar-collapse">
                        <ul class="nav">
                            {% if user.profile.is_loru or user.profile.is_ugh %}
                                <li{% if request.path == '/' %} class="active"{% endif %}>
                                    <a href="{% url dashboard %}">{% trans "Открытые" %}</a>
                                </li>
                            {% endif %}
                            {% if user.profile.is_loru %}
                                <li{% if request.path == '/burials/search/' %} class="active"{% endif %}>
                                    <a href="{% url burial_public_list %}">{% trans "Захоронения" %}</a>
                                </li>
                                <li{% if request.path == '/burials/create/'  %} class="active"{% endif %}>
                                    <a href="{% url create_burial %}">{% trans "Создать захоронение" %}</a>
                                </li>
                                <li{% if request.path == '/order/' %} class="active"{% endif %}>
                                    <a href="{% url order_list %}">{% trans "Заказы" %}</a>
                                </li>

                                <li{% if request.path == '/order/create/' %} class="active"{% endif %}>
                                    <a href="{% url order_create %}">{% trans "Создать Заказ" %}</a>
                                </li>
                            {% endif %}
                            {% if user.profile.is_ugh %}
                                <li{% if request.path == '/burials/' %} class="active"{% endif %}>
                                    <a href="{% url burial_list %}">{% trans "Захоронения" %}</a>
                                </li>

                                <li{% if request.path == '/burials/create/' and not request.GET.archive %} class="active"{% endif %}>
                                    <a href="{% url create_burial %}">{% trans "Создать захоронение" %}</a>
                                </li>

                                <li{% if request.path == '/burials/create/' and request.GET.archive %} class="active"{% endif %}>
                                    <a href="{% url create_burial %}?archive=1">{% trans "Внести архивное" %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div><!--/.navbar-collapse -->
                </div>
            </div>
        </div>





		<div class="container-fluid" {% block container_attr_extra %}{% endblock %}>
            {% if messages %}
                <ul class="messages no-print">
                    {% for m in messages %}
                        <li class="alert alert-{{ m.tags }}">{{ m|safe }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% block content %}{% endblock %}
        </div>

        {% if global_context_PRODUCTION_SITE %}
            {% include "yandex_metrika.html" %}
        {% endif %}

    </div>
    <noscript>
        <div id="hidden_if_js">
            <h1>{% trans "Внимание" %}!
            <br />
            <h2 style="color:red">{% trans "У вас отключен JavaScript" %}!</h2>
            <br />
            <h3>{% trans "Для отображения страницы вам понадобится включить поддержку JavaScript в настройках браузера" %}.</h3>
            <h3>{% trans "После этого обновите страницу!" %}.</h3>
        </div>
    </noscript>
</body>
</html>