{% load i18n %}
<tr>
    <th>
        {% if sort == '-pk' %}
            {% if sort == '-pk' %}<i class="icon icon-arrow-down"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=pk">{% trans "Номер" %}</a>
        {% else %}
            {% if sort == 'pk' %}<i class="icon icon-arrow-up"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=-pk">{% trans "Номер" %}</a>
        {% endif %}
    </th>
    <th>
        {% if sort == 'account_number' %}
            {% if sort == 'account_number' %}<i class="icon icon-arrow-up"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=-account_number">{% trans "Номер в книге" %}</a>
        {% else %}
            {% if sort == '-account_number' %}<i class="icon icon-arrow-down"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=account_number">{% trans "Номер в книге" %}</a>
        {% endif %}
    </th>
    {% if user.profile.is_ugh %}
        <th>
            {% if sort == 'source' %}
                {% if sort == 'source' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-source">{% trans "Источник" %}</a>
            {% else %}
                {% if sort == '-source' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=source">{% trans "Источник" %}</a>
            {% endif %}
        </th>
    {% endif %}
    <th>
        {% if sort == 'applicant' %}
            {% if sort == 'applicant' %}<i class="icon icon-arrow-up"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=-applicant">{% trans "Заявитель" %}</a>
        {% else %}
            {% if sort == '-applicant' %}<i class="icon icon-arrow-down"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=applicant">{% trans "Заявитель" %}</a>
        {% endif %}
    </th>
    <th>
        {% if sort == 'cemetery' %}
            {% if sort == 'cemetery' %}<i class="icon icon-arrow-up"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=-cemetery">{% trans "Кладбище" %}</a>
        {% else %}
            {% if sort == '-cemetery' %}<i class="icon icon-arrow-down"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=cemetery">{% trans "Кладбище" %}</a>
        {% endif %}
    </th>
    <th>
        {% if sort == 'place' %}
            {% if sort == 'place' %}<i class="icon icon-arrow-up"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=-place">{% trans "Место" %}</a>
        {% else %}
            {% if sort == '-place' %}<i class="icon icon-arrow-down"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=place">{% trans "Место" %}</a>
        {% endif %}
    </th>
    <th>
        {% if sort == 'fio' %}
            {% if sort == 'fio' %}<i class="icon icon-arrow-up"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=-fio"><big>{% trans "Усопший" %}</big></a>
        {% else %}
            {% if sort == '-fio' %}<i class="icon icon-arrow-down"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=fio"><big>{% trans "Усопший" %}</big></a>
        {% endif %}
    </th>
    <th>
        {% if sort == '-fact_date' %}
            {% if sort == '-fact_date' %}<i class="icon icon-arrow-down"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=fact_date">{% trans "Дата" %}</a>
        {% else %}
            {% if sort == 'fact_date' %}<i class="icon icon-arrow-up"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=-fact_date">{% trans "Дата" %}</a>
        {% endif %}
    </th>
    <th>
        {% if sort == 'status' %}
            {% if sort == 'status' %}<i class="icon icon-arrow-up"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=-status">{% trans "Статус" %}</a>
        {% else %}
            {% if sort == '-status' %}<i class="icon icon-arrow-down"></i>{% endif %}
            <a href="?{{ GET_PARAMS }}&sort=status">{% trans "Статус" %}</a>
        {% endif %}
    </th>
    {% if user.profile.is_loru %}
        <th>
            {% trans "Заказ(ы)" %}
        </th>
    {% endif %}
    <th class="no-print"></th>
</tr>
{% for b in burials %}
    {% if dashboard %}
        <tr class="
            {% if b.is_ready %}burial_blue{% endif %}
            {% if b.is_approved %}burial_green{% endif %}
            {% if b.is_declined or b.is_backed %}burial_red{% endif %}
            {% if b.is_inspecting %}burial_yellow{% endif %}
        ">
    {% else %}
        <tr>
    {% endif %}
        <td>{{ b.pk }}</td>
        <td>{{ b.account_number|default:"" }}</td>
        {% if user.profile.is_ugh %}
            <td>{{ b.get_source_type_display }}
                {% if b.loru %}
                    <br /> ({{ b.loru }})
                {% endif %}
            </td>
        {% endif %}
        <td>
            {% if b.applicant_organization %}
                {{ b.applicant_organization }}
            {% elif b.applicant %}
                {{ b.applicant }}
            {% endif %}
        </td>
        <td>{% if b.cemetery %}{{ b.cemetery }} / {{ b.ugh_name }}{% endif %}</td>
        <td>
            {% with burial=b %}{% include "burial_place.html" %}{% endwith %}
        </td>
        <td><b>{{ b.deadman_or_bio }}</b></td>
        <td>{{ b.combined_date }}</td>
        <th>
            {{ b.status_str|default:"" }}
            {% if b.is_declined %}
                <br />
                Причина: {{ b.get_last_decline_reason|default_if_none:"не указана" }}
            {% endif %}
            {% if b.annulated %}
                <br />
                <span style="color:red">{% trans "АННУЛИРОВАНО" %}</span>
            {% endif %}
            <br/>
            {{ b.status_dt|default:"" }}
            <br/>
            {{ b.changed_by.profile|default:"" }}
        </th>
        {% if user.profile.is_loru %}
            <td>
                {% with burial=b %}{% include "burial_orders.html" %}{% endwith %}
            </td>
        {% endif %}
        <td class="no-print">
            {% if user.profile.is_loru %}
                {# Планируется, что лору будет видеть и зх других лору, а также зх от угх, #}
                {# но редактировать может только свои зх #}
                {% if b.is_full and b.is_edit and b.loru and b.loru == user.profile.org and not b.is_annulated %}
                    <a class="btn" href="{% url edit_burial b.pk %}">{% trans "правка" %}</a>
                {% else %}
                    <a class="btn" href="{% url view_burial b.pk %}">{% trans "просмотр" %}</a>
                {% endif %}
            {% elif user.profile.is_ugh %}
                <a class="btn" href="{% url view_burial b.pk %}">{% trans "просмотр" %}</a>
                {# (Ручные, архивные), перенесенные, закрытые: #}
                {% if b.is_ugh or b.is_transferred or b.is_closed %}
                    <a class="btn" href="{% url edit_burial b.pk %}">{% trans "правка" %}</a>
                {% endif %}
                {% if b.get_place %}
                    <a class="btn" href="/manage/cemetery/{{ b.cemetery.pk}}/area/{{ b.area.pk }}/place/{{ b.place.pk }}">{% trans "место" %}</a>
                {% endif %}
            {% endif %}
            {% if not b.is_bio and not b.dc_filled %}
                <br/><span style="color:red"><b>{% trans "Нет СоС!" %}</b></span>
            {% endif %}
        </td>
    </tr>
{% endfor %}
