{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Захоронения" %}</h1>
    <div class="row-fluid no-print">
        <div class="span12">
            <div class="row-fluid">
                <form id="mainform" class="form-horizontal" method="get" action="">
                    {{ form.as_p }}

                    <p class="buttons">
                        <input type="submit" value="искать" class="btn btn-primary" />
                    </p>
                </form>
            </div>
        </div>
    </div>

    {% if not form.errors %}
        <p>{% trans "Найдено:" %} {{ paginator.count|default:object_list.count }}</p>

        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    {% if sort == '-pk' %}
                        {% if sort == '-pk' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=pk">{% trans "Номер" %}</a>
                    {% else %}
                        {% if sort == 'pk' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-pk">{% trans "Номер" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'account_number' %}
                        {% if sort == 'account_number' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-account_number">{% trans "Номер в книге" %}</a>
                    {% else %}
                        {% if sort == '-account_number' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=account_number">{% trans "Номер в книге" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'cemetery' %}
                        {% if sort == 'cemetery' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-cemetery">{% trans "Кладбище" %}</a>
                    {% else %}
                        {% if sort == '-cemetery' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=cemetery">{% trans "Кладбище" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'place' %}
                        {% if sort == 'place' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-place">{% trans "Место" %}</a>
                    {% else %}
                        {% if sort == '-place' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=place">{% trans "Место" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'fio' %}
                        {% if sort == 'fio' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-fio"><big>{% trans "Усопший" %}</big></a>
                    {% else %}
                        {% if sort == '-fio' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=fio"><big>{% trans "Усопший" %}</big></a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == '-fact_date' %}
                        {% if sort == '-fact_date' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=fact_date">{% trans "Дата захоронения" %}</a>
                    {% else %}
                        {% if sort == 'fact_date' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-fact_date">{% trans "Дата захоронения" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'status' %}
                        {% if sort == 'status' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-status">{% trans "Статус" %}</a>
                    {% else %}
                        {% if sort == '-status' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=status">{% trans "Статус" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% trans "Заказ(ы)" %}
                </th>
            </tr>
            {% for b in burials %}
                <tr>
                    <td>{{ b.pk }}</td>
                    <td>{{ b.account_number|default:"" }}</td>
                    <td>{% if b.cemetery %}{{ b.cemetery }} / {{ b.ugh_name }}{% endif %}</td>
                    <td>
                        {% with burial=b %}{% include "burial_place.html" %}{% endwith %}
                    </td>
                    <td><b>{{ b.deadman_or_bio }}</b></td>
                    <td>{{ b.combined_date }}</td>
                    <td>
                        {{ b.status_str|default:"" }}
                        {% if b.annulated %}
                            <br />
                            <span style="color:red">{% trans "АННУЛИРОВАНО" %}</span>
                        {% endif %}
                        <br />
                        <a class="btn" href="{% url view_burial b.pk %}">{% trans "просмотр" %}</a>
                    </td>
                    <td>
                        {% with burial=b %}{% include "burial_orders.html" %}{% endwith %}
                        </td>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include "paginator.html" %}
    {% endif %}

{% endblock %}