{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Захоронения" %}</h1>
    <div class="row no-print">
        <div class="col-md-12">
            <div class="row">
                <form id="mainform" class="form-horizontal" method="get" action="">
                    {{ form.as_p }}

                    <p class="buttons">
                        <input type="submit" value="искать" class="btn btn-primary" />
                        <input type="submit" value="распечатать все" class="btn" name="print" />
                    </p>
                </form>
            </div>
        </div>
    </div>

    <p>{% trans "Найдено:" %} {{ paginator.count|default:0 }}</p>

    <table class="table table-bordered table-striped">
    {% include "burial_table.html" %}
    </table>

    {% include "paginator.html" %}

    {% if request.GET.print %}
        <script type="text/javascript">
            window.print();
        </script>
    {% endif %}
{% endblock %}