{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Кладбища" %}</h1>
    <table class="table table-bordered">
        <tr>
            <th>{% trans "Название" %}</th>
            <th>{% trans "Часы работы" %}</th>
            <th>{% trans "Участков" %}</th>
            <th></th>
        </tr>
        {% for c in object_list %}
            <tr>
                <td>{{ c.name }}</td>
                <td>
                    {{ c.time_begin|time:"H:i" }} &mdash; {{ c.time_end|time:"H:i" }}
                </td>
                <td>{{ c.area_set.all.count }}</td>
                <td>
                    {% if user.profile.org == c.ugh %}
                        <a href="{% url manage_cemeteries_edit c.pk %}" class="btn">{% trans "править" %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if user.profile.is_ugh %}
        <p>
            <a class="btn" href="{% url manage_cemeteries_create %}">{% trans "создать" %}</a>
        </p>
    {% endif %}
{% endblock %}