{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Кладбище" %} {{ form.instance }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <h2>{% trans "Адрес" %}</h2>
        {% with form.address_form as form %}
            {% include "location_form.html" %}
        {% endwith %}

        <h2>{% trans "Участки" %}</h2>
        {{ form.area_formset.management_form }}
        {{ form.area_formset.non_form_errors }}
        {% for f in form.area_formset.forms %}
            <fieldset>
                {{ f.as_p }}
            </fieldset>
        {% endfor %}
        <p>
            <input type="submit" class="btn" value="{% trans "cохранить" %}" class="btn btn-primary"/>
        </p>
    </form>

    {% with object=form.instance %}
        {% include "object_logs.html" %}
    {% endwith %}

{% endblock %}