{% load i18n %}

<div class="well">
    <div id="place_exists">
        <h2>{% trans "Место найдено" %}</h2>
    </div>

    <h3>{{ place }}</h3>

    {% if user.profile.is_ugh %}
        <p><a href="/manage/cemetery/{{ place.cemetery.pk }}/area/{{ place.area.pk }}/place/{{ place.pk }}">{% trans "карточка" %}</a></p>
    {% endif %}

    <dl>
        <dt>{% trans "Могил" %}</dt>
        <dd>
            {{ place.get_graves_count }}
            ({% trans "свободно" %} {{ place.get_available_count }})
        </dd>
        {% if place.responsible %}
            <div id="place_has_responsible">
                <dt>{% trans "Ответственный" %}</dt>
                <dd>{{ place.responsible }}</dd>
            </div>
        {% endif %}
    </dl>

    <h3>{% trans "Усопшие" %}</h3>
    <ul>
        {% for b in place.burial_set.all %}
            {% if not b.annulated %}
                <li>
                    {{ b.grave.grave_number }} &mdash;
                    {{ b.get_burial_type_display }} &mdash;
                    {% if user.profile.is_loru and b.is_full %}
                        <a href="{% url view_burial b.pk %}">{{ b.deadman_or_bio }}</a>
                    {% elif user.profile.is_ugh and b.cemetery.ugh == user.profile.org %}
                        <a href="{% url view_burial b.pk %}">{{ b.deadman_or_bio }}</a>
                    {% else %}
                        {{ b.deadman_or_bio }}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>