{% load i18n %}

{% if form.account_number %}
    {{ form.account_number.errors }}
    <p>{{ form.account_number.label_tag }} {{ form.account_number }}<span class="helptext">{{ form.account_number.help_text }}</span></p>
{% endif %}

{% include "applicant_form.html" %}
<script type="text/javascript">
    $(document).ready(function(){
       $("form.burial-form.main-form ul").each(function(element){
          $(this).addClass('unstyled');
       });
       $("input[name='burial_container']").change(function(){

          if($(this).val() == 'container_bio'){
             if(!$("#cont_dead").is(":hidden")){
                 $("#cont_dead").slideToggle();
             }
             if(!$("#cont_responsible_all").is(":hidden")){
                 $("#cont_responsible_all").slideToggle();
             }

          }else{
              if($("#cont_dead").is(":hidden")){
                  $("#cont_dead").slideToggle();
              }
              if($("#cont_responsible_all").is(":hidden")){
                  $("#cont_responsible_all").slideToggle();
              }
          }

       });

    {% if form.instance.pk and form.instance.is_bio %}
        if(!$("#cont_dead").is(":hidden")){
            $("#cont_dead").slideToggle();
        }
        if(!$("#cont_responsible_all").is(":hidden")){
            $("#cont_responsible_all").slideToggle();
        }
    {% endif %}
    });
</script>
{{ form.burial_container.errors }}
<div id="burial_container">
    <h2>{{ form.burial_container.label}}</h2>
    {{ form.burial_container }}<span class="helptext">{{ form.burial_container.help_text }}</span></p>
</div>
{{ form.burial_type.errors }}
<div id="burial_type">
    <h2>{{ form.burial_type.label}}</h2>
    <p>{{ form.burial_type }}<span class="helptext">{{ form.burial_type.help_text }}</span></p>
</div>
<!-- <div id="cont_dead" style="{% if form.instance.pk %}display: none{% endif %}"> -->
<div id="cont_dead">
    <h2>{% trans "Усопший" %} {{ form.deadman_form.instance|default:"" }}</h2>
        {{ form.deadman_form.last_name.errors }}
        <p class="inline">{{ form.deadman_form.last_name.label_tag }} {{ form.deadman_form.last_name }}<span class="helptext">{{ form.deadman_form.last_name.help_text }}</span></p>

        {{ form.deadman_form.first_name.errors }}
        <p class="inline">{{ form.deadman_form.first_name.label_tag }} {{ form.deadman_form.first_name }}<span class="helptext">{{ form.deadman_form.first_name.help_text }}</span></p>

        {{ form.deadman_form.cemetery.errors }}
        <p class="inline">{{ form.deadman_form.middle_name.label_tag }} {{ form.deadman_form.middle_name }}<span class="helptext">{{ form.deadman_form.middle_name.help_text }}</span></p>

        <br/>

        {{ form.deadman_form.birth_date.errors }}
        <p class="inline">{{ form.deadman_form.birth_date.label_tag }} {{ form.deadman_form.birth_date }}<span class="helptext">{{ form.deadman_form.birth_date.help_text }}</span></p>

        {{ form.deadman_form.death_date.errors }}
        <p class="inline">{{ form.deadman_form.death_date.label_tag }} {{ form.deadman_form.death_date }}<span class="helptext">{{ form.deadman_form.death_date.help_text }}</span></p>

        <h3>{% trans "Адрес" %}</h3>
        <div class="form_block">
            {% with form.deadman_address_form as form %}
                {% include "location_form.html" %}
            {% endwith %}
        </div>
        <h3>{% trans "Свидетельство о смерти" %}</h3>
        {% with form.dc_form as form %}
            {% include "deathcertificate.html" %}
        {% endwith %}
        {{ form.dc_form.scan_form.as_p }}
</div>

<h2>{% trans "Место" %} {{ form.instance.get_place|default:"" }}</h2>
<!-- <div id="cont_place" style="{% if form.instance.pk %}display: none{% endif %}"> -->
<div id="cont_place">
    {{ form.cemetery.errors }}
    <p class="inline">{{ form.cemetery.label_tag }} {{ form.cemetery }}<span class="helptext">{{ form.cemetery.help_text }}</span></p>

    {{ form.area.errors }}
    <p class="inline">{{ form.area.label_tag }} {{ form.area }}<span class="helptext">{{ form.area.help_text }}</span></p>

    {{ form.row.errors }}
    <p class="inline">{{ form.row.label_tag }} {{ form.row }}<span class="helptext">{{ form.row.help_text }}</span></p>

    {{ form.place_number.errors }}
    <p class="inline">{{ form.place_number.label_tag }} {{ form.place_number }}<span class="helptext">{{ form.place_number.help_text }}</span></p>

    {{ form.grave_number.errors }}
    <p class="inline">{{ form.grave_number.label_tag }} {{ form.grave_number }}<span class="helptext">{{ form.grave_number.help_text }}</span></p>

    <p></p>
    {{ form.desired_graves_count.errors }}
    <p class="inline">{{ form.desired_graves_count.label_tag }} {{ form.desired_graves_count }}<span class="helptext">{{ form.desired_graves_count.help_text }}</span></p>

    {{ form.place_length.errors }}
    <p class="inline">{{ form.place_length.label_tag }} {{ form.place_length }}<span class="helptext">{{ form.place_length.help_text }}</span></p>

    {{ form.place_width.errors }}
    <p class="inline">{{ form.place_width.label_tag }} {{ form.place_width }}<span class="helptext">{{ form.place_width.help_text }}</span></p>

    <p id="place_info"></p>

    {% if form.plan_date %}
        {{ form.plan_date.errors }}
        <p class="inline">{{ form.plan_date.label_tag }} {{ form.plan_date }}<span class="helptext">{{ form.plan_date.help_text }}</span></p>
    {% endif %}

    {% if form.plan_time %}
        {{ form.plan_time.errors }}
        <p class="inline">{{ form.plan_time.label_tag }} {{ form.plan_time }}<span class="helptext">{{ form.plan_time.help_text }}</span></p>
    {% endif %}

    {% if form.fact_date %}
        {{ form.fact_date.errors }}
        <p class="inline">{{ form.fact_date.label_tag }} {{ form.fact_date }}<span class="helptext">{{ form.fact_date.help_text }}</span></p>
    {% endif %}

</div>

<div id="cont_responsible_all">
    <h2>
        {% trans "Ответственный" %} {{ form.responsible_form.instance|default:"" }}
    </h2>

<a href="#" onclick="return contShowHide('#cont_responsible', '#a_cont_responsible', '{% trans 'развернуть' %}', '{% trans 'свернуть' %}');"
    class="slider" data-id="cont_responsible" id="a_cont_responsible">{% trans "развернуть" %}</a>
    <div id="cont_responsible" style="display: none">
        {{ form.responsible_form.as_p }}
        <div id="cont_responsible_address">
            <h3>{% trans "Адрес" %}</h3>
            <div class="form_block">
                {% with form.responsible_address_form as form %}
                    {% include "location_form.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

<br />
<h2>{% trans "Файлы" %}</h2>
{% for f in b.burialfiles_set.all %}
    <b>{{ forloop.counter }}.</b>&nbsp;
    <a href="/media/{{ f.bfile }}">открыть</a>
    <a href="/burialfiles/{{ f.pk }}/delete/" onclick="return confirm('{% trans "Вы уверены?" %}');">удалить</a>&nbsp;&nbsp; 
    <small>Описание:</small> <b>{{ f.comment|default:"(без описания)" }}</b>
    <br /> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/burialfiles/{{ f.pk }}/editcomment/" target="_self">редактировать описание</a>
    <br /> &nbsp;&nbsp;&nbsp;&nbsp;
    <small><i>{{ f.creator.profile.org }} / {{ f.creator }}</i>, {{ f.date_of_creation }}</small><br /><br />
{%  endfor %}
<h4>{% trans "Новый:" %}</h4>
&nbsp; макс. {{ form.bfiles_form.MAX_UPLOAD_SIZE_MB }} Мб.
{{ form.bfiles_form.as_p }}

<h2>{% trans "Комментарий" %}</h2>
{{ form.comment_form.as_p }}
