{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% if order and user.profile.is_loru %}
        {% with order=order tab="burial" %}
            {% include "order_nav.html" %}
        {% endwith %}
    {% endif %}
    {% block form_title %}<h1>
        {% if request.REQUEST.archive %}
            {% trans "Архивное захоронение" %}
        {% else %}
            {% trans "Новое захоронение" %}
        {% endif %}
    </h1>{% endblock form_title %}
    <form action="{{ request.path }}" method="POST" enctype="multipart/form-data" class="burial-form main-form">
        {% csrf_token %}
        <input type="hidden" name="order"  value="{{ request.REQUEST.order }}" />
        <input type="hidden" name="archive"  value="{{ request.REQUEST.archive }}" />
        <input type="hidden" name="place_id"  value="{{ request.REQUEST.place_id }}" />

        {% if form.instance.annulated %}
            <h3>{% if b.annulated %} <span style="color:red">{% trans "АННУЛИРОВАНО" %}</span> {% endif %}</h3>
        {% endif %}

        {% if user.profile.is_ugh and form.instance.is_archive %}
            <p>{% trans "Статус:" %} {{ form.instance.get_status_display }}</p>
        {% endif %}

        {{ form.non_field_errors }}

        {% include "create_burial_main_form.html" %}

        {% block buttons %}
            <p class="clear">
                <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "cохранить" %}"/>
                {% if not b.annulated %}
                    {% if not b.is_finished %}
                        {% if user.profile.is_ugh and not b.is_full %}
                            <input type="submit" class="btn btn-commit-burial" name="complete" value="{% trans "cохранить и закрыть" %}"/>
                        {% endif %}
                    {% endif %}
                    {% if user.profile.is_loru %}
                        {% if not b.pk %}
                            <input type="submit" class="btn btn-commit-burial" name="ready" value="{% trans "cохранить и отправить на согласование" %}"/>
                        <!-- захоронение is_edit: черновик, отклонено, отозвано -->
                        {% elif b.is_edit and not b.annulated %}
                            <input type="submit" class="btn btn-commit-burial" name="ready" value="{% trans "cохранить и отправить на согласование" %}"/>
                             {% if order and not order.annulated %}
                                <input type="submit" class="btn btn-danger" name="unbind" value="{% trans "сохранить и открепить от заказа" %}"/>
                            {% endif %}
                        {% elif b.can_back %}
                            <input type="submit" class="btn btn-commit-burial" name="back" value="{% trans "отозвать" %}"/>
                        {% endif %}
                        {% if b.can_loru_annulate %}
                            <input type="submit" class="btn btn-commit-burial" name="annulate" value="{% trans "аннулировать" %}"/>
                        {% endif %}
                        {% if b.order %}
                            <a href="{% url order_services b.order.pk %}" class="btn btn-next">{% trans "далее" %}</a>
                        {% elif self.request.REQUEST.order %}
                            <a href="{% url order_services self.request.REQUEST.order %}" class="btn btn-next">{% trans "далее" %}</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </p>
        {% endblock buttons %}
    </form>

    {% with object=b %}
        {% include "object_logs.html" %}
    {% endwith %}

    {% include "create_burial_popups.html" %}

    <script type="text/javascript">
        PLACE_TYPES = {{ form.cemetery_placing_json|default:"{}" }};
        CEMETERY_AREAS = {{ form.cemetery_areas_json|default:"{}" }};
        CEMETERY_TIMES = {{ form.cemetery_times_json|default:"{}" }};
        PLACE_SIZE = {{ form.place_size_json|default:"{}" }};
        AGENT_DOVER = {{ form.agent_dover_json|default:"{}" }};
        ACTUAL_DOVER = [{% for d in form.actual_dover_list %}{{ d }}{% if not forloop.last %},{% endif %}{% endfor %}];
        ORG_AGENTS = {{ form.loru_agents_json|default:"{}" }};
    </script>
{% endblock %}