{% extends "base.html" %}

{% load i18n %}

{% block meta_extra %}
    <meta http-equiv="refresh" content="180" > 
{% endblock %}

{% block content %}
    <h1>{% trans "Захоронения: к исполнению" %}</h1>
    <table class="table table-bordered">
    {% with dashboard='dashboard' %}
        {% include "burial_table.html" %}
    {% endwith %}
    </table>
{% endblock %}