{% load i18n %}

{{ form.dt_modified }}

{{ form.s_number.errors }}
<p>{{ form.s_number.label_tag }} {{ form.s_number }}<span class="helptext">{{ form.s_number.help_text }}</span></p>

{{ form.series.errors }}
<p>{{ form.series.label_tag }} {{ form.series }}<span class="helptext">{{ form.series.help_text }}</span></p>

{{ form.release_date.errors }}
<p>{{ form.release_date.label_tag }} {{ form.release_date }}<span class="helptext">{{ form.release_date.help_text }}</span></p>

<div class="inline">
{{ form.zags.errors }}
{{ form.zags.label_tag }} {{ form.zags }}<span class="helptext">{{ form.zags.help_text }}</span>

    <p class="inline">
        <a href="#add_zags" role="button" class="btn" data-toggle="modal">
            {% trans "добавить ЗАГС" %}
        </a>
    </p>
</div>