{% extends "create_burial.html" %}

{% load i18n %}

{% block form_title %}<h1>{{ b.get_source_type_display }} {% trans "захоронение" %} {{ b.pk }}</h1>
{% if user.profile.is_loru and not order %}
<h3>({{ b.get_status_display }})</h3>
{% endif %}
{% endblock form_title %}

