{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "Данные организации" %} {{ object }}</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    {% if form.placesize_formset %}
        <h2>{% trans "Размеры мест" %}</h2>
        {{ form.placesize_formset.management_form }}
        {{ form.placesize_formset.non_form_errors }}
        {% for f in form.placesize_formset.forms %}
            <fieldset>
                {{ f.as_p }}
            </fieldset>
        {% endfor %}
    {% endif %}

    {% if form.reason_formset %}
    <script type="text/javascript">
        $(function() {
            // расширим название причины отказа, что красивее было
            $('input[id^=id_reason_set]').each(function() {
                if($(this).attr('id').match(/\-name$/i)) {
                    $(this).css('width', '400px');
                }
            });
        });
    </script>
        <h2>{% trans "Причины отказа, отзыва и т.п. действий" %}</h2>
        {{ form.reason_formset.management_form }}
        {{ form.reason_formset.non_form_errors }}
        {% for f in form.reason_formset.forms %}
            <fieldset>
                {{ f.as_p }}
            </fieldset>
        {% endfor %}
    {% endif %}

    <h2>{% trans "Адрес" %}</h2>
    {% with form.address_form as form %}
        {% include "location_form.html" %}
    {% endwith %}

    {# <h2>{% trans "Банковские счета" %}</h2>   #}
    {# {{ form.bank_formset.management_form }}   #}
    {# {% for f in form.bank_formset.forms %}    #}
    {#     <fieldset>                            #}
    {#         {{ f.as_p }}                      #}
    {#     </fieldset>                           #}
    {# {% endfor %}                              #}

    <p>
        <input type="submit" class="btn btn-primary" value="{% trans "cохранить" %}"/>
    </p>
    
    {% if is_my_org %}
        <h2>{% trans "Пользователи" %}</h2>
        <table class="table table-bordered">
            <tr>
                <th>{% trans "Имя пользователя" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Фамилия" %}</th>
                <th>{% trans "Имя" %}</th>
                {% if user.profile.is_loru %}<th>{% trans "Агент" %}</th>{% endif %}
                <th>{% trans "Активен" %}</th>
                <th></th>
            </tr>
            {% for p in user.profile.org.profile_set.all %}
                <tr>
                    <td>{{ p.user.username }}</td>
                    <td>{{ p.user.email }}</td>
                    <td>{{ p.user.last_name }}</td>
                    <td>{{ p.user.first_name }}</td>
                    {% if user.profile.is_loru %}<td>{{ p.is_agent|yesno }}</td>{% endif %}
                    <td>{{ p.user.is_active|yesno }}</td>
                    <td>
                        <a href="{% url change_password p.user.pk %}" class="btn">сменить пароль</a>
                        <a href="{% url edit_user p.user.pk %}" class="btn">править данные</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <p>
            <a href="{% url add_user %}" class="btn">{% trans "новый пользователь" %}</a>
        </p>
    {% endif %}
</form>

{% if is_my_org and object.get_logs %}
    {% with object=object %}
        {% include "object_logs.html" %}
    {% endwith %}
{% endif %}
{% endblock %}