{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h3>{% trans "Редактировать описание" %}</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" class="btn" value="{% trans "cохранить" %}"/>
        </p>
    </form>
{% endblock %}