{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Эксгумация" %}</h1>
    {{ form.non_field_errors }}
    <dl>
        <dt>{% trans "Захоронение" %}</dt>
        <dd>{{ burial }}</dd>
        <dt>{% trans "Место" %}</dt>
        <dd>{{ burial.get_place }}</dd>
    </dl>
    <form action="{{ request.path }}" method="POST" class="burial-form">
        {% csrf_token %}
        <input id="id_cemetery" value="{{ burial.cemetery.pk }}" type="hidden" />

        {% if form.fact_date %}
            {{ form.fact_date.errors }}
            <p class="inline">{{ form.fact_date.label_tag }} {{ form.fact_date }}<span class="helptext">{{ form.fact_date.help_text }}</span></p>
        {% endif %}

        {% if form.plan_date %}
            {{ form.plan_date.errors }}
            <p class="inline">{{ form.plan_date.label_tag }} {{ form.plan_date }}<span class="helptext">{{ form.plan_date.help_text }}</span></p>
        {% endif %}

        {% if form.plan_time %}
            {{ form.plan_time.errors }}
            <p class="inline">{{ form.plan_time.label_tag }} {{ form.plan_time }}<span class="helptext">{{ form.plan_time.help_text }}</span></p>
        {% endif %}

        {% include "applicant_form.html" %}

        {% block buttons %}
            <p class="clear">
                <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "сохранить" %}"/>
            </p>
        {% endblock buttons %}
    </form>

    {% include "create_burial_popups.html" %}

    <script type="text/javascript">
        AGENT_DOVER = {{ form.agent_dover_json|default:"{}"}};
        ORG_AGENTS = {{ form.loru_agents_json|default:"{}"}};
        ACTUAL_DOVER = [{% for d in form.actual_dover_list %}{{ d }}{% if not forloop.last %},{% endif %}{% endfor %}];
    </script>
{% endblock %}
