{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% block form_title %}<h1>{% trans "Импорт" %}</h1>{% endblock form_title %}

    <h1>{% trans "Услуги" %}</h1>
    <form action="{% url import_services %}" method="POST" class="burial-form" enctype="multipart/form-data">
        {% csrf_token %}

        {{ services_form.as_p }}

        <p class="clear">
            <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "cохранить" %}"/>
        </p>
    </form>

    <h1>{% trans "Банковские данные" %}</h1>
    <form action="{% url import_banks %}" method="POST" class="burial-form" enctype="multipart/form-data">
        {% csrf_token %}

        {{ banks_form.as_p }}

        <p class="clear">
            <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "cохранить" %}"/>
        </p>
    </form>

    <h1>{% trans "Удостоверения личности" %}</h1>
    <form action="{% url import_docs %}" method="POST" class="burial-form" enctype="multipart/form-data">
        {% csrf_token %}

        {{ docs_form.as_p }}

        <p class="clear">
            <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "cохранить" %}"/>
        </p>
    </form>

    <h1>{% trans "Свидетельства о смерти" %}</h1>
    <form action="{% url import_dcs %}" method="POST" class="burial-form" enctype="multipart/form-data">
        {% csrf_token %}

        {{ dcs_form.as_p }}

        <p class="clear">
            <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "cохранить" %}"/>
        </p>
    </form>

    <h1>{% trans "Заказы" %}</h1>
    <form action="{% url import_orders %}" method="POST" class="burial-form" enctype="multipart/form-data">
        {% csrf_token %}

        {{ orders_form.as_p }}

        <p class="clear">
            <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "cохранить" %}"/>
        </p>
    </form>

{% endblock %}