{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% block form_title %}<h1>{% trans "Импорт (Минск)" %}</h1>{% endblock form_title %}

    <h2>{% trans "Захоронения" %}</h2>
    <form id="importform" action="{% url import_burials_minsk %}" method="POST" class="burial-form" enctype="multipart/form-data">
        {% csrf_token %}

        {{ burials_form.as_p }}

        <p class="clear">
            <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "cохранить" %}"/>
        </p>
    </form>

{% endblock %}
