{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% block form_title %}<h1>{% trans "Импорт" %}</h1>{% endblock form_title %}

    <h1>{% trans "Организации" %}</h1>
    <form action="{% url import_orgs %}" method="POST" class="burial-form" enctype="multipart/form-data">
        {% csrf_token %}

        {{ orgs_form.as_p }}

        <p class="clear">
            <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "cохранить" %}"/>
        </p>
    </form>

    <h1>{% trans "Захоронения" %}</h1>
    <form action="{% url import_burials %}" method="POST" class="burial-form" enctype="multipart/form-data">
        {% csrf_token %}

        {{ burials_form.as_p }}

        <p class="clear">
            <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "cохранить" %}"/>
        </p>
    </form>

{% endblock %}