{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Вход" %}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" class="btn btn-default" value="{% trans "Войти" %}"/>
        </p>
    </form>
{% endblock %}