<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

{% load i18n %}

<!-- Страница для сообщений, которая может быть показана при какой-то ошибке, 
     если страница без ошибок вызывается с target="_blank"
-->

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />

    <!-- Le styles -->
    <link rel="stylesheet" href="/static/less/bootstrap.css" type="text/css" />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link type="text/css" href="/static/css/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/jquery-ui-timepicker.css" rel="stylesheet" />

    <link href="/static/css/base.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% if close %} <script type="text/javascript">top.close();</script> {% endif %}

    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.6.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ui.timepicker.js"></script>

    <script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-typeahead-ajax.js"></script>

    <script type="text/javascript" src="/static/js/cemetery.js" defer="true"></script>

    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">PohoronnoeDelo.ru</a>
                <div class="nav-collapse">
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <h1>{{ message }}</h1>
        <form action="/mobile/removephoto/" enctype="multipart/form-data" method="post">
	    Id фото могилы: <input type="text" name="gravePhotoId"><br>
        <p><input type="submit" value="Удалить"></p>
        </form> 
    </div>
</body>
</html>
