{% load i18n %}

{# Документы для различных объектов: захоронение, заказ #}
<h2>{% trans "Документы" %}</h2>
<table class="table table-bordered">
    <tr>
        <th>{% trans "Дата" %}</th>
        <th>{% trans "Пользователь" %}</th>
        <th>{% trans "Описание" %}</th>
        <th></th>
    </tr>
    {% for doc in object.get_documents %}
        <tr>
            <td>{{ doc.dt }}</td>
            <td>{{ doc.user.profile }} / {{ doc.user.profile.org }}</td>
            <td>{{ doc.description }}</td>
            <td><a class="btn" href="{% url report_view doc.pk %}" target="_blank">{% trans "просмотр" %}</a></td>
        </tr>
    {% endfor %}
</table>
