{% load i18n %}

{# Журнал для различных объектов: захоронение, заказ, организация и т.д #}
<h2>{% trans "Журнал" %}</h2>
<table class="table table-bordered">
    <tr>
        <th>{% trans "Дата" %}</th>
        <th>{% trans "Пользователь" %}</th>
        <th>{% trans "Действие" %}</th>
    </tr>
    {% for log in object.get_logs %}
        <tr>
            <td>{{ log.dt }}</td>
            <td>
            {% if log.user %}
                {{ log.user.profile }} / {{ log.user.profile.org }}
            {% endif %}
            </td>
            <td>{{ log.msg|linebreaksbr }}</td>
        </tr>
    {% endfor %}
</table>
