{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Заказы" %}</h1>
    <div class="row-fluid no-print">
        <div class="span12">
            <div class="row-fluid">
                <form id="mainform" class="form-horizontal" method="get" action="">
                    <fieldset>

                    <p>
                        <label for="id_order_num_from">{{form.order_num_from.label}}</label>
                        {{form.order_num_from}}
                    </p>
                    <p>
                        <label for="id_order_num_to">{{form.order_num_to.label}}</label>
                        {{form.order_num_to}}
                    </p>
                    <p>
                        <label for="id_order_cost_from">{{form.order_cost_from.label}}</label>
                        {{form.order_cost_from}}
                    </p>
                    <p>
                        <label for="id_order_cost_to">{{form.order_cost_to.label}}</label>
                        {{form.order_cost_to}}
                    </p>
                    </fieldset>
                    <fieldset>
                        <p>
                            <label for="id_applicant_org">{{form.applicant_org.label}}</label>
                            {{form.applicant_org}}
                        </p>
                        <p>
                            <label for="id_applicant_person">{{form.applicant_person.label}}</label>
                            {{form.applicant_person}}
                        </p>

                    </fieldset>
                    <fieldset>
                        <p>
                            <label for="id_fio">{{form.fio.label}}</label>
                            {{form.fio}}
                        </p>
                        <p class="inline">
                            <label for="id_no_last_name">{{form.no_last_name.label}}</label>
                            {{form.no_last_name}}
                        </p>
                        <p>
                            <label for="id_birth_date_from">{{form.birth_date_from.label}}</label>
                            {{form.birth_date_from}}
                        </p>
                        <p>
                            <label for="id_birth_date_to">{{form.birth_date_to.label}}</label>
                            {{form.birth_date_to}}
                        </p>
                        <p>
                            <label for="id_death_date_from">{{form.death_date_from.label}}</label>
                            {{form.death_date_from}}
                        </p>
                        <p>
                            <label for="id_death_date_to">{{form.death_date_to.label}}</label>
                            {{form.burial_date_to}}
                        </p>
                        <p>
                            <label for="id_burial_date_from">{{form.burial_date_from.label}}</label>
                            {{form.burial_date_from}}
                        </p>
                        <p>
                            <label for="id_burial_date_to">{{form.burial_date_to.label}}</label>
                            {{form.burial_date_to}}
                        </p>
                    </fieldset>
                    <fieldset>
                        <p>
                            <label for="id_responsible">{{form.responsible.label}}</label>
                            {{form.responsible}}
                        </p>
                        <p>
                            <label for="id_cemetery">{{form.cemetery.label}}</label>
                            {{form.cemetery}}
                        </p>
                        <p>
                            <label for="id_area">{{form.area.label}}</label>
                            {{form.area}}
                        </p>
                        <p>
                            <label for="id_row">{{form.row.label}}</label>
                            {{form.row}}
                        </p>
                    </fieldset>
                    <fieldset>
                        <p>
                            <label for="id_place">{{form.place.label}}</label>
                            {{form.place}}
                        </p>
                        <p class="inline">
                            <label for="id_no_responsible">{{form.no_responsible.label}}</label>
                            {{form.no_responsible}}
                        </p>
                        <p>
                            <label for="id_status">{{form.status.label}}</label>
                            {{form.status}}
                        </p>
                        <p>
                            <label for="id_annulated">{{form.annulated.label}}</label>
                            {{form.annulated}}
                        </p>
                    </fieldset>
                    <fieldset>
                        <p>
                            <label for="id_burial_num_from">{{form.burial_num_from.label}}</label>
                            {{form.burial_num_from}}
                        </p>
                        <p>
                            <label for="id_burial_num_to">{{form.burial_num_to.label}}</label>
                            {{form.burial_num_to}}
                        </p>
                    </fieldset>
                    <fieldset>
                        <p>
                            <label for="id_reg_number_from">{{form.reg_number_from.label}}</label>
                            {{form.reg_number_from}}
                        </p>
                        <p>
                            <label for="id_reg_number_to">{{form.reg_number_to.label}}</label>
                            {{form.reg_number_to}}
                        </p>
                    </fieldset>
                    <fieldset>
                        <p>
                            <label form="id_burial_container">{{ form.burial_container.label }}</label>
                            {{ form.burial_container }}
                        </p>
                    </fieldset>

                    <div class="control-group">
                        <p>
                            <label for="id_per_page">{{form.per_page.label}}</label>
                            {{form.per_page}}
                        </p>
                        <input type="submit" value="искать" class="btn btn-primary" />
                        <input type="submit" value="распечатать все" class="btn" name="print" />

                    </div>

                </form>
            </div>
        </div>
    </div>

    <p>{% trans "Найдено:" %} {{ paginator.count|default:0 }}</p>

    {% if paginator.count %}
        <table class="table table-bordered">
            <tr>
                <th>
                    {% if sort == 'account_number' %}
                        {% if sort == 'account_number' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-account_number">{% trans "Номер в книге" %}</a>
                    {% else %}
                        {% if sort == '-account_number' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=account_number">{% trans "Номер в книге" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'deadman' %}
                        {% if sort == 'deadman' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-deadman">{% trans "Усопший" %}</a>
                    {% else %}
                        {% if sort == '-deadman' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=deadman">{% trans "Усопший" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'plan_date' %}
                        {% if sort == 'plan_date' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-plan_date">{% trans "Дата захоронения" %}</a>
                    {% else %}
                        {% if sort == '-plan_date' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=plan_date">{% trans "Дата захоронения" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'place' %}
                        {% if sort == 'place' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-place">{% trans "Место" %}</a>
                    {% else %}
                        {% if sort == '-place' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=place">{% trans "Место" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'cemetery' %}
                        {% if sort == 'cemetery' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-cemetery">{% trans "Кладбище" %}</a>
                    {% else %}
                        {% if sort == '-cemetery' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=cemetery">{% trans "Кладбище" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'burial' %}
                        {% if sort == 'burial' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-burial">{% trans "Захоронение" %}</a>
                    {% else %}
                        {% if sort == '-burial' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=burial">{% trans "Захоронение" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'applicant' %}
                        {% if sort == 'applicant' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-applicant">{% trans "Заказчик" %}</a>
                    {% else %}
                        {% if sort == '-applicant' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=applicant">{% trans "Заказчик" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'order_num' %}
                        {% if sort == 'order_num' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-order_num">{% trans "Номер заказа" %}</a>
                    {% else %}
                        {% if sort == '-order_num' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=order_num">{% trans "Номер заказа" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'cost' %}
                        {% if sort == 'cost' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-cost">{% trans "Сумма" %}</a>
                    {% else %}
                        {% if sort == '-cost' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=cost">{% trans "Сумма" %}</a>
                    {% endif %}
                </th>
                <th>
                    {% if sort == 'order_date' %}
                        {% if sort == 'order_date' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-order_date">{% trans "Дата заказа" %}</a>
                    {% else %}
                        {% if sort == '-order_date' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=order_date">{% trans "Дата заказа" %}</a>
                    {% endif %}
                </th>
                <th class="no-print"></th>
            </tr>
            {% for c in object_list %}
                <tr class="
                    {% if c.burial.is_ready %}burial_blue{% endif %}
                    {% if c.burial.is_approved %}burial_green{% endif %}
                    {% if c.burial.is_declined or c.burial.is_backed %}burial_red{% endif %}
                    {% if c.burial.is_inspecting %}burial_yellow{% endif %}
                ">
                    <td>{{ c.burial.account_number|default:"" }}</td>
                    <td>{{ c.burial.deadman_or_bio }}</td>
                    <td>{{ c.burial.combined_date }}</td>
                    <td>
                        {% with burial=c.burial %}{% include "burial_place.html" %}{% endwith %}
                    </td>
                    <td>{% if c.burial.cemetery %}{{ c.burial.cemetery }} / {{ c.burial.ugh_name }}{% endif %}</td>
                    <td>{{ c.burial.pk|default:"" }}</td>
                    <td>
                        {% if c.applicant %}
                            ФЛ {{ c.applicant|default:"" }}
                        {% elif c.applicant_organization %}
                            ЮЛ {{ c.applicant_organization|default:"" }} {{ c.agent|default:"" }}
                        {% endif %}
                    </td>
                    <td>{{ c.loru_number|default:"" }}</td>
                    <td>{{ c.total|floatformat:2|default:"" }}</td>
                    <td>{{ c.dt|default:"" }}</td>
                    <td class="no-print">
                        {% if user.profile.org == c.loru %}
                            <a href="{% url order_edit c.pk %}" class="btn">{% trans "править" %}</a>
                        {% endif %}
                        {% if not c.annulated %}
                            <a href="{% url order_print c.pk %}" class="btn" target="_blank">{% trans "счет-заказ" %}</a>
                            <a href="{% url order_contract c.pk %}" class="btn" target="_blank">{% trans "контракт" %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include "paginator.html" %}
    {% endif %}

    {% if request.GET.print %}
        <script type="text/javascript">
            window.print();
        </script>
    {% endif %}
{% endblock %}