{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% with order=order tab="info" %}
        {% include "order_nav.html" %}
    {% endwith %}

    <h2>{% trans "Комментарий" %}</h2>
    <form action="{% url order_comment order.pk %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <p>
            <input type="submit" class="btn btn-primary" value="{% trans "добавить" %}" />
        </p>
    </form>

    {% with object=order %}
        {% include "object_logs.html" %}
    {% endwith %}

    {% if order.get_documents %}
        {% with object=order %}
            {% include "object_documents.html" %}
        {% endwith %}
    {% endif %}

{% endblock %}