{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% with order=order tab="applicant" %}
        {% include "order_nav.html" %}
    {% endwith %}
    <form action="" method="POST" class="order_form">
        {% csrf_token %}
        <p>
            <input type="submit" class="btn" value="{% trans "сохранить" %}" class="btn"/>
        </p>
        {{ form.non_field_errors }}

        {{ form.dt.errors }}
        <p>{{ form.dt.label_tag }} {{ form.dt }}<span class="helptext">{{ form.dt.help_text }}</span></p>

        {{ form.payment.errors }}
        <p class="inline">{{ form.payment.label_tag }} {{ form.payment }}<span class="helptext">{{ form.payment.help_text }}</span></p>

        {% include "applicant_form.html" %}
        <p>
            <input type="submit" class="btn" value="{% trans "сохранить" %}" class="btn"/>
            <a href="{% url order_products order.pk %}" class="btn btn-next">{% trans "далее" %}</a>
        </p>
    </form>

    {% include "create_burial_popups.html" %}

    <script type="text/javascript">
        AGENT_DOVER = {{ form.agent_dover_json|default:"{}" }};
        ORG_AGENTS = {{ form.loru_agents_json|default:"{}" }};
        ACTUAL_DOVER = [{% for d in form.actual_dover_list %}{{ d }}{% if not forloop.last %},{% endif %}{% endfor %}];
    </script>
{% endblock %}
