{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% with order=order tab="services" %}
        {% include "order_nav.html" %}
    {% endwith %}
    <form action="" method="POST" class="main-form">
        {% csrf_token %}

        {% if order.has_catafalque %}
            <h2>{% trans "Катафалк" %}</h2>
            {{ catafalque_form.as_p }}
        {% endif %}

        {% if order.has_coffin or order.has_catafalque %}
            <h2>{% trans "Доп. инфо" %}</h2>
            {{ add_info_form.as_p }}
        {% endif %}

        {% if order.has_coffin %}
            <h2>{% trans "Гроб" %}</h2>
            {{ coffin_form.as_p }}
        {% endif %}

        <p>
            <input type="submit" class="btn" value="{% trans "сохранить" %}" class="btn"/>
            <a href="{% url order_info order.pk %}" class="btn btn-next">{% trans "далее" %}</a>
        </p>
    </form>

{% endblock %}