{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Новый заказ" %}</h1>
    <form action="" method="POST" class="order_form">
        {% csrf_token %}
        <input type="hidden" name="burial" value="{{ request.REQUEST.burial }}" />
        <p>
            <input type="submit" class="btn" value="{% trans "Создать" %}"/>
        </p>
        {{ form.non_field_errors }}

        {{ form.dt.errors }}
        <p>{{ form.dt.label_tag }} {{ form.dt }}<span class="helptext">{{ form.dt.help_text }}</span></p>

        {{ form.payment.errors }}
        <p class="inline">{{ form.payment.label_tag }} {{ form.payment }}<span class="helptext">{{ form.payment.help_text }}</span></p>

        {% include "applicant_form.html" %}
        <p>
            <input type="submit" class="btn" value="{% trans "Создать" %}"/>
        </p>

    </form>

    {% include "create_burial_popups.html" %}

    <script type="text/javascript">
        AGENT_DOVER = {{ form.agent_dover_json|default:"{}" }};
        ORG_AGENTS = {{ form.loru_agents_json|default:"{}" }};
        ACTUAL_DOVER = [{% for d in form.actual_dover_list %}{{ d }}{% if not forloop.last %},{% endif %}{% endfor %}];
    </script>
{% endblock %}