{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% with order=order tab="products" %}
        {% include "order_nav.html" %}
    {% endwith %}
    <form action="" method="POST" class="main-form" onSubmit="return removeEmptyForms()" >
        {% csrf_token %}

        {{ formset.management_form }}
        <table class="table table-striped">
        <thead>
            <tr>
              <th>#</th>
              <th>{% trans "Товар" %}</th>
              <th>{% trans "Цена" %}</th>
              <th>{% trans "Количество" %}</th>
              <th>{% trans "Сумма" %}</th>
              <th>{% trans "Управление" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for f in formset.forms %}
            <tr id="{{ f.prefix }}-row" class="dynamic-form">
              <td>{{ forloop.counter }}
                {% if f.errors %}
                    {% for field, error in f.errors.items %}
                        {{ error }}                        
                    {% endfor %}
                {% endif %}
              </td>
              <td class="product_type">{{ f.product }}</td>
              <td class="product_cost">{{ f.cost }}</td>
              <td class="product_quantity">{{ f.quantity }}</td>
              <td class="amount"><input type="text" name="" value=""></td>
              {{ f.id }}
              <td>
                <span>
                    <a id="remove-{{ f.prefix }}-row" href="javascript:void(0)" class="delete-row">{% trans "Удалить" %}</a>
                </span>
              </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <p><a href="javascript:void(0)" class="add-row">{% trans "Добавить" %}</a></p>
        <p>
            <label for="id_total">{% trans "Итог" %}</label>
            <input id="id_total" type="text" value="{{ order.total }}" readonly/>
        </p>

        <p>
            <input type="submit" class="btn" value="{% trans "сохранить" %}" class="btn"/>
            <a href="{% url order_burial order.pk %}" class="btn btn-next">{% trans "далее" %}</a>
        </p>
    </form>

    <script type="text/javascript">
        $(function () {
            hideShowDelete()
            $('#id_orderitem_set-INITIAL_FORMS').attr('value', 0);
            updateProductId();
            
            $('.dynamic-form').each(function() {
                updateAmountForm($(this));
            });
            $(".dynamic-form input[type='text'], .dynamic-form select").change( function() {
                updateAmountForm($(this).closest('tr'));
                updateTotalForm();
            });

            $('.add-row').click(function() {
                return addForm(this, 'orderitem_set');
            });
            $('.delete-row').click(function() {
                return deleteForm(this, 'orderitem_set');
            });
            $('.product_type select').change(function(e) {
                var el_id = $(this).attr('id').match(/\d+/)[0];

                var toggleButton = function() {
                }

                $.ajax({
                    type: "GET",
                    url: "/order/product/ajax_get_product_price/", 
                    data: {'id': $(this).val()}, 
                    success: function(data) {
                        $('#id_orderitem_set-' + el_id + '-cost').attr('value', data.price);
                        $('#id_orderitem_set-' + el_id + '-quantity').attr('value', '1.00');
                        $('#id_orderitem_set-' + el_id + '-cost').focus();
                        updateAmountForm($(this));
                        updateTotalForm();
                    },
                    async: true
                });

                              
            });
        })
    </script>
{% endblock %}