{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Товар" %} {{ form.instance }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <p>
            <input type="submit" class="btn" value="{% trans "cохранить" %}" class="btn"/>
        </p>
    </form>
{% endblock %}