{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Регистрация" %}</h1>
    <p>Возможно, у Вашей организации уже есть учетная запись. Тогда Вам нужно обратиться к ее администратору.</p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" class="btn btn-default" value="{% trans "Зарегистрироваться" %}"/>
        </p>
    </form>
{% endblock %}