{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Регистрация" %}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" class="btn  btn-primary" value="{% trans "Зарегистрироваться" %}"/>
        </p>
        <br />
        <p>
            При успешной регистрации Вам будет отправлено письмо по указанному Вами Email,
            в котором будет ссылка подтверждения регистрации.
        </p>
    </form>
{% endblock %}
