{% extends "base.html" %}

{% load i18n %}

{% block meta_extra %}
    <meta http-equiv="refresh" content="180" > 
{% endblock %}

{% block content %}
    <h1>{% trans "Заявки на регистрацию" %}</h1>
    <table class="table table-bordered">
    <tr>
        <th>
            {% if sort == '-pk' %}
                {% if sort == '-pk' %}<i class="glyphicon glyphicon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=pk">{% trans "Дата" %}</a>
            {% else %}
                {% if sort == 'pk' %}<i class="glyphicon glyphicon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-pk">{% trans "Дата" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'org_type' %}
                {% if sort == 'org_type' %}<i class="glyphicon glyphicon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-org_type">{% trans "Тип" %}</a>
            {% else %}
                {% if sort == '-org_type' %}<i class="glyphicon glyphicon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=org_type">{% trans "Тип" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'org' %}
                {% if sort == 'org' %}<i class="glyphicon glyphicon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-org">{% trans "Организация" %}</a>
            {% else %}
                {% if sort == '-org' %}<i class="glyphicon glyphicon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=org">{% trans "Организация" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'director' %}
                {% if sort == 'director' %}<i class="glyphicon glyphicon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-director">{% trans "Директор" %}</a>
            {% else %}
                {% if sort == '-director' %}<i class="glyphicon glyphicon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=director">{% trans "Директор" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'fio' %}
                {% if sort == 'fio' %}<i class="glyphicon glyphicon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-fio">{% trans "Контактное лицо" %}</a>
            {% else %}
                {% if sort == '-fio' %}<i class="glyphicon glyphicon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=fio">{% trans "Контактное лицо" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'status' %}
                {% if sort == 'status' %}<i class="glyphicon glyphicon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-status">{% trans "Статус" %}</a>
            {% else %}
                {% if sort == '-status' %}<i class="glyphicon glyphicon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=status">{% trans "Статус" %}</a>
            {% endif %}
        </th>
        <th>
            {% trans "Примечания" %}
        </th>
    </tr>
    {% for r in registrants %}
        <tr>
            <td>
                {{ r.dt_created|date:"d.m.Y" }}
            </td>
            <td>
                {{ r.get_org_type_display }}
            </td>
            <td>
                {{ r.org_name }}<br />
                {% if r.org_name != r.org_full_name %}
                    ({{ r.org_full_name }})<br />
                {% endif %}
                {% trans "ИНН" %}: {{ r.org_inn }}<br />
                {% trans "Тел." %}: {{ r.org_phones|linebreaksbr }}<br />
            </td>
            <td>
                {{ r.org_director }}
            </td>
            <td>
                {{ r.user_last_name }}
                {{ r.user_first_name }}
                {{ r.user_middle_name }}<br />
                <a href="mailto:{{ r.user_email }}">{{ r.user_email }}</a><br />
                {% trans "Имя входа в систему" %}: {{ r.user_name }}
            </td>
            <td><b><big>
                <span style="color:{% if r.is_confirmed %}blue{% elif r.is_approved %}green{% elif r.is_declined %}red{% else %}black{% endif %}">
                {{ r.get_status_display }}
                </span>
                </big></b>
                {% if r.is_confirmed %}
                    <br /><a href="{% url registrant_approve r.pk %}">{% trans "одобрить" %}</a>
                    <br />
                        <a href="{% url registrant_decline r.pk %}"
                        {% if r.is_confirmed or r.is_to_confirm %}
                            onclick="return confirm('{% trans "Вы уверены?" %}');"
                        {% endif %}>
                        {% trans "отказать" %}
                    </a>
                {% endif %}
                 <br />
                 <a href="{% url registrant_delete r.pk %}"
                    {% if r.is_confirmed or r.is_to_confirm %}
                        onclick="return confirm('{% trans "Вы уверены?" %}');"
                    {% endif %}>
                    {% trans "удалить заявку" %}
                 </a>
            </td>
            <td>
                {% if not r.is_approved and r.orgs_same_inn %}
                    <span style="color:red">
                        {% trans "Совпадение ИНН" %}:<br />
                    </span>
                    {% for o in r.orgs_same_inn %}
                        {{ o }}<br />
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>

    {% with object=RegisterProfile %}
        {% include "object_logs.html" %}
    {% endwith %}

{% endblock %}
