{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{{ place }}</h1>
    <dl>
        <dt>{% trans "Кладбище" %}</dt>
        <dd>{{ place.cemetery|default:"не указано" }}</dd>
        <dt>{% trans "Участок" %}</dt>
        <dd>{{ place.area|default:"не указан" }}</dd>
        <dt>{% trans "Ряд" %}</dt>
        <dd>{{ place.row|default:"не указан" }}</dd>
        <dt>{% trans "Место" %}</dt>
        <dd>{{ place.place|default:"не указано" }}</dd>
        <dt>{% trans "Ответственный" %}</dt>
        <dd>
            {% if place.responsible %}
                {{ place.responsible }}
                {% if place.responsible.phones %}
                    ({% trans "тел." %} {{ place.responsible.phones }})
                {% endif %}
                <form action="{% url rm_responsible place.pk %}" method="POST" class="list-inline">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-default" value="{% trans "открепить" %}"/>
                </form>
            {% else %}
                {% trans "не указан" %}
            {% endif %}
        </dd>
        <dt>{% trans "Могил всего" %}</dt><dd>{{ place.get_graves_count }}</dd>
        <dt>{% trans "Свободно" %}</dt><dd>{{ place.get_available_count }}</dd>

    </dl>
    {% if not place.bio_only %}
        <a href="{% url create_burial %}?place_id={{ place.pk }}" class="btn btn-default">{% trans "добавить родственное" %}</a>
    {% endif %}

    <h2>{% trans "Данные" %}</h2>
    <form action="" method="POST">
        {% csrf_token %}
         {{ form.as_p }}
        <script type="text/javascript">
            PLACE_SIZE = {{ form.place_size_json|default:"{}" }};
        </script>
        <p>
            <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "cохранить" %}"/>
        </p>
    </form>

    <h2>{% trans "Захоронения" %}</h2>
    <table class="table table-bordered">
        <tr>
            <th>{% trans "Номер" %}</th>
            <th>{% trans "Могила" %}</th>
            <th>{% trans "Усопший" %}</th>
            <th>{% trans "Дата" %}</th>
            <th></th>
        </tr>
        {% for b in place.burials_available %}
            <tr>
                <td>{{ b.pk }}</td>
                <td>{{ b.grave_number|default:"" }}</td>
                <td>{% if b.is_bio %}{% trans "Биоотходы" %}{% else %}{{ b.deadman|default:"Неизвестный" }}{% endif %}</td>
                <td>{{ b.fact_date|date:"d.m.Y"|default:"" }}</td>
                <td>
                    <a href="{% url view_burial b.pk %}" class="btn btn-default">{% trans "карточка" %}</a>
                    <a class="btn btn-default" href="{% url make_spravka b.pk %}" target="_blank">{% trans "справка" %}</a>
                    {% if user.profile.is_ugh %}
                        <a href="{% url edit_burial b.pk %}" class="btn btn-default">{% trans "править" %}</a>
                        <a href="{% url burial_exhumate b.pk %}" class="btn btn-default">{% trans "эксгумировать" %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h2>{% trans "Эксгумированные" %}</h2>
    <table class="table table-bordered">
        <tr>
            <th>{% trans "Номер" %}</th>
            <th>{% trans "Могила" %}</th>
            <th>{% trans "Усопший" %}</th>
            <th>{% trans "Дата" %}</th>
            <th></th>
        </tr>
        {% for ex in place.exhumationrequest_set.all %}
            {% with ex.burial as b %}
                {% if not b.annulated %}
                    <tr>
                        <td>{{ b.pk }}</td>
                        <td>{{ b.grave_number|default:"" }}</td>
                        <td>{% if b.is_bio %}{% trans "Биоотходы" %}{% else %}{{ b.deadman|default:"Неизвестный" }}{% endif %}</td>
                        <td>{{ b.fact_date|date:"d.m.Y"|default:"" }}</td>
                        <td>
                            <a class="btn btn-default" href="{% url make_exhumate_report b.pk %}" target="_blank">{% trans "справка" %}</a>
                            <form action="{% url burial_cancel_exhumation ex.pk %}" method="POST" class="list-inline">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-default" value="{% trans "Отменить эксгумацию" %}" />
                            </form>

                        </td>
                    </tr>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </table>

    {% if place.get_logs %}
        {% with object=place %}
            {% include "object_logs.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}